[2020-03-31 19:58] JordanLongstaff opened #2 "Imports sorted on line lengths equal to maximum"
The import sorter should allow import lines that are as long as the maximum and only wrap lines that are strictly longer, but instead it also wraps lines as long as the maximum. The workaround is to set the `maximumLineLength` to be one higher than the actual intended maximum length, which is confusing.

[2020-03-31 21:27] JordanLongstaff opened #3 "No blank lines between import groups, please"
I would like to have an option to disable the blank lines that get inserted between import groups.

[2020-04-02 10:57] daidodo commented on #2
Hi, thanks for using JS/TS Import Sorter. Will fix this soon!

[2020-04-02 11:04] daidodo commented on #2
Fixed in v1.1.1.

[2020-04-02 11:04] #2 closed

[2020-04-02 14:28] JordanLongstaff commented on #2
Thanks!

[2020-04-02 22:21] daidodo commented on #3
Hi @JordanLongstaff,

May I ask what you're trying to achieve? If you don't want grouping, you can set `groupRules: []` then all will be in the default group.
Or do you want a customisable sorting rule inside a group?
Thanks!

[2020-04-03 05:47] JordanLongstaff commented on #3
If I set `groupRules: []` then they all go in the default group, but they get organized wrong. It makes relative imports get moved above absolute imports.

[2020-04-03 16:00] JordanLongstaff opened #4 "Option for case considerations when sorting imports"
It is possible for bindings to have names with the same spelling apart from their cases. By default, the import sorter puts the lowercase one first:

[code]

I want an option to make uppercase imports come first:

[code]

[2020-04-03 17:56] JordanLongstaff commented on #3
The point is, I want them to be grouped like they have been, but without being separated by blank lines.

[2020-04-03 20:28] JordanLongstaff commented on #3
Can I construct a group rule that puts relative imports and absolute imports in the same group, but still puts all the relative imports last?

[2020-04-03 20:49] JordanLongstaff commented on #3
Just FYI, the motivation here is consistency at my workplace. We also use Python and Python has special rules for how imports are ordered.

[2020-04-04 14:26] daidodo commented on #3
Thanks for your clarification!
I can think of a few options of the solution:
#### `leadingEmptyLines` and `trailingEmptyLines`
[code]
This is a mimic by removing blank lines between groups as you mentioned. But there are a few edge cases, e.g. what if the first group in the file sets `leadingEmptyLines: 0`:
[code]
Similar problems occur to `trailingEmptyLines` of the last group.
#### Customisable

[2020-04-04 18:22] JordanLongstaff commented on #3
I can't think of any other options you'd be missing. If I had to choose between the options you've mentioned, I think I like the subgroups best.

[2020-04-06 00:30] daidodo commented on #3
Resolved in v1.2.0.

[2020-04-06 00:30] #3 closed

[2020-04-09 01:21] daidodo commented on #4
Hi @JordanLongstaff,

Sorry for the late response!
This issue has been resolved in v1.2.2.

Now you can config sorting rules for imported names, e.g.:

[code]

which will:
* Put `'_'` (underscore) in front of letters `[a-zA-Z]`, and
* Compare letters *case-insensitively*, and upper-case letters are in front of lower-case letters.

[A wiki](https://github.com/daidodo/tsimportsorter/wiki/Sorting-Rul

[2020-04-09 14:43] JordanLongstaff commented on #4
Thanks so much for these improvements! This is going to be a huge help.

[2020-04-09 14:52] JordanLongstaff commented on #4
Actually, this isn't quite what I wanted. What's happening now is that every uppercase import is being placed in front of every lowercase import. I want imports to be compared case-insensitively with ties going to the uppercase import, as in my example.

[2020-04-09 14:54] JordanLongstaff commented on #4
FYI my current sorting rule is `"sortRules": { "names": ["Aa"] }`, in case I'm just doing something wrong.

[2020-04-09 15:03] JordanLongstaff commented on #4
Actually, maybe I should clarify my example a bit more. This might be very tricky, but what I see is:

[code]

And what I want is:

[code]

[2020-04-09 15:09] JordanLongstaff commented on #4
Before version 1.2.2 they would have been sorted like this:

[code]

[2020-04-09 17:05] daidodo commented on #4
Thanks for your feedback!
I agree it's very tricky here. I'll try to fix it soon.

[2020-04-09 19:07] daidodo commented on #4
Please try v1.2.3.

[2020-04-11 11:00] zhusiyi111 opened #5 "Support case like `import './style.css'`"
### Configuation:
[code]

### Source file:
[code]

### Expected:
[code]

### Actually:
[code]

It's seems that the groupRules doesn't support the unnamed imports.

[2020-04-11 13:01] daidodo commented on #5
Hi @zhusiyi111, thanks for your feedback!

The rules for script imports (e.g. `import 'some/scripts'`) and non-script imports are slightly different.
In your example, both `"react"` and `".css$"` apply only to *non-script* imports.
And scripts imports are grouped all together and have higher rank than non-script imports by default. That's why you get:

[code]

You can define a group applying to sc

[2020-04-12 02:32] zhusiyi111 commented on #5
Thanks! It works!

[2020-04-12 02:32] #5 closed

[2020-04-13 17:13] JordanLongstaff commented on #4
Works perfectly now. Thanks a lot! (I used v1.2.4, actually.)

[2020-04-13 21:28] #4 closed

[2020-04-24 13:01] Elias-Graf opened #6 "Missing Option to turn of blank line after group"
I don't mind the grouping but I did not see any option to disable the empty
line after each group.

[2020-04-24 13:40] daidodo commented on #6
Thanks for your feedback!

One way to "turn off" the blank line is moving groups to **subgroups**. E.g.

[code]

Now there is no empty lines between imports but still they are *sub-grouped*.

[code]

Is that what you want?

[2020-04-24 13:55] Elias-Graf commented on #6
I've read about that in the docs. It said something like: "subgroups do not have a blank like". You may want to describe this more explicitly.

(may I ask another question here, or do you not want this for organization purposes?)

[2020-04-24 16:25] daidodo commented on #6
Feel free to ask questions here or open new issues if you want.

Sorry for the ambiguity in the wiki but I'm not sure how to improve since I'm not English-native. So it'd be great if you can help. ;P

Regarding the new option, I can see where you come from but I don't feel a strong need as there are different ways to think of it, e.g. groups vs. subgroups. But I'll keep it in the TODOs and give it

[2020-04-24 18:52] Elias-Graf commented on #6
Oh don't worry about your language, it's totally fine and btw, neither am I a native speaker.

## About subgroups

I imagined subgroups being sort-groups inside sort-groups. And my train of thought was: "No, sub-groups is not what I want, I want to keep `normal` groups". But if it is your recommendation to use sub-groups instead of "major" groups you should explicitly state:

## Additional request

[2020-04-25 09:54] daidodo commented on #6
Thanks for the clarification for sub-groups!

Sorting exports is quite a feature in my TODO list. I will do some estimation first and come back to you.

[2020-04-25 14:20] daidodo commented on #6
Interestingly, all the following are valid export statements:

[code]

### Feature definitions
Among those, the following 3 examples are sortable by the plugin:

[code]

#### 1. Should we rearrange exports by, e.g. module paths or binding names?
No. This is an uncharted area for now. But suggestions and info would be appreciated.

#### 2. Should we merge exports?
* Case 1: Yes.
[code]
=>
[code]
*

[2020-04-25 14:32] daidodo commented on #6
Exported binding names are sorted using the existing rules, i.e.:
* `'default'` < any other strings
* In case of `aliasName as propName`, compare `aliasName` first and then `propName`
* Strings are compared via `"sortRules.names"` settings.

[2020-04-29 18:43] aaronmccall opened #7 "Since upgrading to 1.2.11 constant "cannot format" errors and unused imports not removed"
My config:

[code]

Imports will reorder properly if out of order, but I see the `Extension 'JS/TS Import Sorter' cannot format 'src/path/to/file.js'` in the VS Code status bar and unused imports are not removed.

[2020-04-29 19:32] daidodo commented on #7
Thanks for the feedback!

Could you share the code in which unused imports are not removed?

[2020-04-29 19:35] daidodo commented on #7
BTW, the group rule can be simplified to a string if it has only a regex, e.g. `{"regex": "^react$"}` equals to `"^react$"`.

[2020-04-29 21:32] aaronmccall commented on #7
@daidodo, here's an example:

When I save the following:
[code]

All of the sorting is done properly, becoming this:

[code]

However, before 1.2.11, all of the imports except React would have been removed, leaving:

[code]

[2020-04-29 21:33] aaronmccall commented on #7
Also, here's my VS Code info:

Version: 1.44.2
Commit: ff915844119ce9485abfe8aa9076ec76b5300ddd
Date: 2020-04-16T17:07:18.473Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

[2020-04-30 00:16] daidodo commented on #7
@aaronmccall, I can't reproduce the issue with the same code. There must be something else.
Could you also provide:
* *package.json* and *tsconfig.json* in your project;
* Any other formatter plugins you are using;
* It'd be great if you can construct a mini project reproducing the issue;

Thanks again for your support!

[2020-04-30 01:42] aaronmccall commented on #7
I've never had a tsconfig.json, but I do have a jsconfig.json.

[2020-04-30 08:41] daidodo commented on #7
That's the root cause! Thanks for confirming!

I'll try to fix it.

[2020-05-01 01:50] daidodo commented on #7
@aaronmccall, please try v1.2.12 and tell me if you have further questions.
Thanks!

[2020-05-03 15:50] daidodo commented on #6
@Elias-Graf, formatting exports is released in v2.0.0. Please have a try and tell me if you have any questions.

Thanks!

[2020-05-04 12:50] Elias-Graf commented on #6
# Feedback Definitions
I agree with every feature definition except case 1 of point 3.

Case 1: Yes.
export { A, B }
export { C }  // comment

The comment could be (it probably **will** be) specific to `C` and could be confusing, misleading and-/or is unclear to which symbol it refers to if it is merged. Especially because the comment is placed on the line with `C` and so `C` will likely not be di

[2020-05-04 16:44] aaronmccall commented on #7
@daidodo, I'm still getting the error message, and extraneous imports aren't removed. Could it be my particular jsconfig.json?
[code]

[2020-05-04 22:41] daidodo commented on #7
@aaronmccall, could you provide steps to reproduce errors?
Thanks!

[2020-05-04 23:01] daidodo commented on #6
@Elias-Graf, thanks for your feedback!

This plugin doesn’t format `export default { }` because it’s a syntax error.

Regarding the merge comment case, I’d like to see more real world examples.

I’ll close this issue but feel free to open a new one if you have any questions!

[2020-05-04 23:01] #6 closed

[2020-05-05 03:03] aaronmccall commented on #7
My .babelrc.js
[code]

My package.json

[code]

The error happens in every javascript/jsx file in the project, but the only thing that doesn't work is unused import removal.

[2020-05-05 11:05] daidodo commented on #7
@aaronmccall, thanks for your feedback!

1. Can you reproduce the error with all other plugins disabled? (You can duplicate the project and disable plugins for that workspace only, that won't affect the original workspace).
<img width="200" alt="image" src="https://user-images.githubusercontent.com/8170176/81059077-a8cf1080-8ec7-11ea-96d7-711664219fba.png">

2. I setup a repo (https://github.com/d

[2020-05-05 15:09] seangwright opened #8 "Cannot read property 'kind' of undefined"
With the latest version of the extension I'm seeing this error in VS Code:

[code]

I'm using `"typescript": "3.8.3",`.

My project dependencies have not changed since everything was previously working, only the extension version.

I updated my `import-sorter.json` to use the renamed rules:

[code]

But that hasn't resolved anything.

[2020-05-05 15:11] Kizmar opened #9 "Error found: Cannot read property 'kind' of undefined"
This just updated to 2.0.2 and I keep getting this error message. I don't see additional information about what the issue is.

This is the message:

[2020-05-05 15:13] Kizmar commented on #8
Same issue here. Same version of TypeScript. This appears to have started right after the extension auto-updated to 2.0.2.

[2020-05-05 15:13] Kizmar commented on #9
Duplicate of #8

[2020-05-05 15:13] #9 closed

[2020-05-05 17:06] robertowrethink commented on #8
Same issue here. I use `react": "16.8.3` and `react-native": "0.59.10`.

[2020-05-05 17:12] daidodo commented on #8
Can someone provide a code example for the issue? Thanks!

[2020-05-05 17:30] Kizmar commented on #8
@daidodo I get the same error from a brand new create-react-app instance.

[2020-05-05 17:43] aaronmccall commented on #7
I do not use either Prettier or EditorConfig. I'll see if I can do the project duplicate sometime this week.

[2020-05-05 18:21] seangwright commented on #8
Here's one you can try - brand new, untouched Angular 9 application.

https://github.com/seangwright/ng914

`git clone`
`cd ng914`
`npm i`
`code .`

Now save the `src/app/app.module.ts` and see the error in the VS Code toast in the bottom right.

[2020-05-05 18:23] daidodo commented on #8
@Kizmar , it's working fine in my end.
<img width="600" alt="image" src="https://user-images.githubusercontent.com/8170176/81101166-a25f8980-8f05-11ea-99f9-7a4a3ea055ce.png">

[2020-05-05 18:35] seangwright commented on #8
I just installed VS Code Insiders (v1.45.0) (My initial error occurred in normal VS Code v1.44.2) and have 0 extensions installed other than `dozerg.tsimportsorter`.

When I save the `src/app/app.module.ts` I see the error that everyone else sees.

(Btw, just want to mention I ♥ this extension and your work. It's just that since I've made this extension part of my workflow for lots of apps, this i

[2020-05-05 19:03] Kizmar commented on #8
Hmm... so I reverted step by step back to version 1.2.12 and still get the error. Tried removing all of the custom values from `settings.json`. Tried uninstalling it completely and reinstalling. Still get the error in every case.

[2020-05-05 19:11] daidodo commented on #8
Hi @seangwright and @Kizmar, thanks for the info!

I'm in Mac. I [uninstalled VSCode completely](https://stackoverflow.com/questions/42603103/how-to-completely-uninstall-vscode-on-mac), re-installed VSCode (stable version) and only this plugin (2.0.2), but still couldn't reproduce the error

Now I'm going to try in Window 10.

[2020-05-05 19:22] Kizmar commented on #8
@daidodo Sweet. I just ran upstairs and tested vscode on my Mac and verified the error did not show up there. :)

Thank you for your work on this extension. I love it!

[2020-05-05 21:35] daidodo commented on #8
Got closed by github automatically after I pushed the code. The issue should be fixed in **v2.0.3**.

### Root Cause
The issue came from an exception thrown by `program.getSemanticDiagnostics(sourceFile)` ([code](https://github.com/daidodo/tsimportsorter/commit/46c18fd4ef29f8af20ac791289865dded31c2730?diff=split#diff-57152deda617a294f6147233aaca6715L34)) on Windows.

### Fix
In short term, I reins

[2020-05-05 22:09] seangwright commented on #8
I just installed the latest version, saved a file and all the formatting worked correctly.

Thanks again! Love this extension (especially because we often use mutli-root workspaces).

🙏

[2020-05-05 22:09] #8 closed

[2020-05-05 22:45] daidodo commented on #7
@aaronmccall, do you think it's related to https://github.com/daidodo/tsimportsorter/issues/8?
If so please update to v2.0.3 and check if things are all right.

Thanks!

[2020-05-05 23:11] aaronmccall commented on #7
That seems to fix it, @daidodo!

[2020-05-05 23:11] #7 closed

[2020-05-05 23:47] daidodo commented on #6
The first issue is resolved in https://github.com/daidodo/tsimportsorter/issues/3.

[2020-05-12 21:22] pburkindine opened #11 "Exception: Cannot read property 'path' of undefined"
**Code snippet triggering the exception**
Unclear, just regular unsorted TS imports

**Logs**
[code]

[2020-05-13 21:28] JordanLongstaff commented on #11
I'm seeing this too. My log:

[code]

[2020-05-14 09:44] daidodo commented on #11
@JordanLongstaff , are you on Mac or Windows?

[2020-05-14 18:19] FredyC opened #12 "Prevent removal of "unused" twin.macro"
**Is your feature request related to a problem? Please describe.**
The [twin.macro](https://github.com/ben-rogerson/twin.macro) is from a family of babel-plugin-macros for TailwindCSS framework. In practice, it might look like.

[code]

Unfortunately, that import is being removed as unused, but macros are a rather special beast similar to React.

**Describe the solution you'd like**
It would be pr

[2020-05-15 00:35] JordanLongstaff commented on #11
I'm using macOS 10.15.4.

[2020-05-15 14:18] daidodo commented on #11
Thanks for the feedback!

I can't reproduce the error. So I'll bypass the issue by using manual parsing.
Please check **v2.0.7**.

[2020-05-15 14:42] daidodo commented on #12
@FredyC, thanks for the feedback!

Workaround solution: You can add comment `ts-import-sorter: disable` to exclude it from formatting. E.g.:
[code]

In my end, the issue is Typescript Compiler thinks `tw` is not used. If it's different in your VSCode, I'd like to see an example repo or how to setup so I can add this feature.

[2020-05-15 15:00] FredyC commented on #12
It is true, but I have disabled `noUnusedLocals` and I am using ESLint instead which can be configured for exceptions.

[2020-05-15 15:37] daidodo commented on #12
@FredyC,  could you share how to setup the exception in ESLint?

[2020-05-15 15:39] FredyC commented on #12
[code]

[2020-05-15 16:48] daidodo commented on #12
@FredyC , thanks!

I'll close this issue if the workaround works.
Feel free to open it or a new one if you have further questions.

[2020-05-15 16:51] FredyC commented on #12
@daidodo Well, I cannot open it once it's closed by maintainer :)

And the workaround is not really good great option, I would rather have something outlined in OP with `groupRules` so it's more universal. There might be more libraries/macros out there that could be facing such an issue.

I might attempt at a PR if you are willing to give me some hints on where to start.

[2020-05-15 17:54] daidodo commented on #12
@FredyC, I may need a definition of the problem (please be generic), and details of the solutions from you to start with. I'm totally fine with PRs if you are willing to contribute.

[2020-05-15 18:19] FredyC commented on #12
**The problem**
There should be a way to configure extension with exceptions when not to remove unused import. The `React/h` shouldn't be only hard-coded options.

**The solution(s)**
I don't know specifics how the removal of unused works. The easiest, in my opinion, is to have a different config value with a list of RegExp for import path and ignore those matching from removal.

I haven't fully u

[2020-05-15 18:28] FredyC commented on #12
I've glimpsed over the code and probably the best spot to handle this would be here...

https://github.com/daidodo/tsimportsorter/blob/a063e08fca3c163f4d5c92fe65b0e5cea10b3750/src/format/sort/index.ts#L23

What remains is to decide on which one of solutions sounds better to you.

[2020-05-15 19:35] daidodo commented on #12
@FredyC, here is how this extension removes unused names:
1. When parsing the source code, gather all used names. ([code](https://github.com/daidodo/tsimportsorter/blob/master/src/format/parser/parser.ts#L99)).
2. Use TS compiler to determine unused names. ([code](https://github.com/daidodo/tsimportsorter/blob/master/src/format/parser/unused.ts#L26))
3. Remove unused names based on the above info,

[2020-05-15 20:55] FredyC commented on #12
I see a slight advantage with group config that you don't need to repeat the regex, but it's true that it might be different.

So I yea, I will go with global config, although I would call it `keepUnused` since `names` is already a property inside.

[2020-05-16 01:10] daidodo commented on #12
This feature is for something not understandable by the TS compiler and h/React are handled already, so you don't need to be bothered by them.
Please also add integration test examples under src/test/suite/examples.
Sorry I didn't write a contribution guide so if you have any questions just ask me. And I will work out one soon, hopefully before your PR.

Thanks!

[2020-05-16 02:51] daidodo commented on #12
After a few thoughts, I want to make some modifications to the original proposal and write down a specification to avoid confusions.

### Use Cases
1. I want to keep all unused names imported from some paths.
2. I want to keep some unused names imported from some paths.

(I don't see a case to keep a name from all import paths. If you know such, please tell me).

### `keepUnused`
`keepUnused` is a

[2020-05-16 14:02] daidodo commented on #12
@FredyC, I've published a [Contribution Guide](https://github.com/daidodo/tsimportsorter/blob/master/CONTRIBUTING.md) draft. Hope that can help you!

[2020-05-16 14:35] FredyC commented on #12
The guide looks fine, thanks. I am OS maintainer myself (mobx), so nothing new to me there :)

Some things to clear up.

 * The `paths` should be `path` right? Since there is a single string only and you can have multiple entries in the whole `keepUnused`
 * Is `names` necessary to be an array? Regex would be more effective and you can always do `name1|name2`
 * I think that `"keepUnused": [""]` s

[2020-05-16 15:47] daidodo commented on #12
@FredyC, thanks for your suggestions!
I'm ok with 1 and 3, but I still think `names` should be an array of regex patterns, because:
* For a single pattern, `["xxx"]` is as simple as `"xxx"`.
* For multiple patterns, `"xxx|yyy"` can easily get confusing while `["xxx", "yyy"]` helps to simply things.

Cheers.

[2020-05-17 18:19] #12 closed

[2020-05-17 18:40] daidodo commented on #12
@FredyC, please check **v2.1.0** for the latest changes we made.

Thanks again for your contribution!

[2020-05-17 18:49] FredyC commented on #12
Cool, it's working nicely, thanks for fast cooperation on this.

[2020-05-19 01:14] #11 closed

[2020-05-20 08:10] FredyC opened #14 "Type-only imports are converted to regular ones on sort"
**Describe the bug**
TS 3.8 introduced the new feature of [Type-Only imports](https://devblogs.microsoft.com/typescript/announcing-typescript-3-8/#type-only-imports-exports) which is really for optimizing.

Unfortunately, the extension is not able to preserve it and the keyword is removed during the sort.

**To Reproduce**
[code]

**Expected behavior**
Import should keep `type` keyword.

**Actual

[2020-05-23 08:27] #14 closed

[2020-05-23 08:56] daidodo commented on #14
Feature has been release from **v2.1.4**.

@FredyC, thanks very much for the contribution!

[2020-05-23 09:01] FredyC commented on #14
Working nicely. I thank you for your quick response and fix.

[2020-05-29 12:46] JordanLongstaff opened #16 "Newline at end of file gets removed"
Hi, I've got a file that has a bunch of exports at the end, followed by a blank line. Having a blank line at the end of a file is good practice and is something that the linter at my work requires. However, when I save the file, the blank line at the end disappears. It doesn't happen to most files, but it happens to this one because of the exports at the end.

There might already be a way to fix t

[2020-05-29 15:44] daidodo commented on #16
@JordanLongstaff, thanks for the feedback!

This extension keeps final newline by default. The ways to change it are:
* package.json
[code]
* import-sorter.json
[code]

If you still have problems with the above config, I need to know:
* Any other formatter extensions you are using,
* Your configuration in *package.json* or *import-sorter.json*.

[2020-05-29 15:48] JordanLongstaff commented on #16
Worked perfectly. Thanks!

[2020-05-29 15:48] #16 closed

[2020-07-04 07:12] calvindio opened #17 "No blank line between .css / .scss and other imports"
I just want a simple Boolean to say "no blank lines to all imports be it groups or subgroups"

**Describe alternatives you've considered**
Or a step by step instruction on readme to implement "no blank line separator" using the subgroup methods so it is easier for newbies to search "blank lines" on the wiki / readme and follow them. Right now, the instructions is quite vague and requires the user

[2020-07-06 11:17] daidodo commented on #17
@calvindio, Thanks for your feedback!

I need to understand your requirement a bit more.
Are you talking about only `.css / .scss` imports or any script imports? Ex.
[code]
or
[code]

Either way, you can achieve it via grouping rules, e.g. in the 1st case:
[code]

However, I have to admit that the solution is far from straightforward. If your requirement is case 2, I can add an `EmptyLinesBetweenG

[2020-07-07 12:32] spoissant opened #18 "".." path converted to "../""
**Describe the bug**
Import like this:
`import BlurredBackground from '..';`
Get transformed to this:
`import BlurredBackground from '../';`

But we are using eslint with import/no-useless-path-segments (https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-useless-path-segments.md) so every time I have a similar import and format them I have to manually remove the extra `/`

[2020-07-08 09:16] daidodo commented on #18
@spoissant, thanks for the feedback!

Actually, that is intentional as a result of [this discussion](https://github.com/SoominHan/import-sorter/issues/48).
Tell me if you have further questions!

[2020-07-11 09:55] daidodo commented on #17
@calvindio I've added EmptyLinesBetweenGroups anyway.

Will close the issue.

[2020-07-11 09:55] #17 closed

[2020-07-11 10:00] daidodo commented on #18
@spoissant, will resolve the issue.

Feel free to reopen it if you have more questions.

[2020-07-11 10:00] #18 closed

[2020-07-14 02:20] spoissant commented on #18
Hi @daidodo ! Thanks for your quick response.

I read through the discussion you linked and I understand your point. It would be nice if the extension would only add the `/` when there is a potential conflict but I understand it might not be as simple as It sounds :)

In any case, keep up the good work; your extension is pretty awesome!

[2020-07-16 20:21] JordanLongstaff opened #19 "Ignore specified characters when sorting"
**Is your feature request related to a problem? Please describe.**
Hi, I found another case in my workspace that is a violation of what I wanted from #4.

[code]

It's supposed to look like this:
[code]

I'm guessing that it's the underscore that's causing the problem here because my `sortRules` is:
[code]

**Describe the solution you'd like**
It's probably worth it to allow the user to specify wh

[2020-07-23 16:00] daidodo commented on #19
@JordanLongstaff thanks for your feedback!

Maybe you should set the rule as ["_", "Aa"].

I don't think we should ignore any chars because it causes more issues, e.g. what's the order of a_b and ab?

[2020-07-23 21:03] JordanLongstaff commented on #19
Well, your suggestion fixed my issue, so I think I can drop this.

[2020-07-23 21:03] #19 closed

[2020-07-24 01:48] JordanLongstaff commented on #19
Well, your suggestion fixed the issue, so I think I can drop this. Thanks!

[2020-08-13 08:29] lohbrand opened #21 "Exception: JSON Error in /Users/steffenlohbrandt/local_git/grunt-objectmapper/package.json:LinesAndColumns$1 is not a constructor"
**Code snippet triggering the exception**
[code]

**Logs**
(Please select ALL logs in "JS/TS Import/Export Sorter" Output window and copy/paste here)
[code]

[2020-08-13 17:51] lohbrand opened #22 "Exception: JSON Error in /Users/steffenlohbrandt/local_git/calibrate_json_mapper/package.json:LinesAndColumns$1 is not a constructor"
**Code snippet triggering the exception**
[code]

**Logs**
(Please select ALL logs in "JS/TS Import/Export Sorter" Output window and copy/paste here)
[code]

[2020-08-14 05:53] lohbrand opened #23 "Exception: JSON Error in /Users/steffenlohbrandt/local_git/rainbow_print_mapping/package.json:LinesAndColumns$1 is not a constructor"
**Code snippet triggering the exception**
[code]

**Logs**
(Please select ALL logs in "JS/TS Import/Export Sorter" Output window and copy/paste here)
[code]

[2020-08-14 08:46] daidodo commented on #21
@lohbrand, could you provide more details about the error, e.g. code snippet triggering the exception, logs, or your *package.json* content?
Thanks!

[2020-08-14 08:47] daidodo commented on #22
Duplicate of https://github.com/daidodo/tsimportsorter/issues/21.

[2020-08-14 08:47] #22 closed

[2020-08-14 08:48] daidodo commented on #23
Duplicate of https://github.com/daidodo/tsimportsorter/issues/21.

[2020-08-14 08:48] #23 closed

[2020-09-03 13:45] fedulovivan opened #24 "Document how to configure keepUnused for any path"
For now the default behaviour is removing all unused imports except of explicitly excluded.

The idea is to add simple option, which allow to enable "keep all" behaviour easy.

Possible variants:
[code]

Current workaround is usage of:
`"keepUnused": [{ "path": "^" }]`
(or `"keepUnused": [".*"]` as was advised by plugin author)

[2020-09-04 02:00] daidodo commented on #24
Thanks for your feedback, @fedulovivan!

You can achieve that via:

[code]

I'll update the documentation and consider if `"keepUnused": ".*"` is an improvement.

Please tell me if you have more questions!

[2020-09-04 12:09] daidodo commented on #24
After checking the code I decide NOT to implement `"keepUnused": ".*"` because:
1. It improves UX slightly, from `["pattern"]` to `"pattern"`.
2. It breaks routines for merging `"keepUnused"` config in different places, e.g. VSCode configuration, *import-sorter.json*, *packages.json*.

So I'll just update *README.md* and close the issue.

[2020-09-04 12:13] #24 closed

[2020-09-04 12:16] daidodo commented on #21
@lohbrand, I'll close this issue since I can neither reproduce it nor get useful information to fix it.
Feel free to reopen it if you have more questions.
Thanks!

[2020-09-04 12:16] #21 closed

[2020-10-14 00:08] calvindio commented on #17
Thank you!

[2020-10-17 22:31] ggyorfi opened #25 "Exception: rule.forEach is not a function"
**Code snippet triggering the exception**
[code]

**Logs**
(Please select ALL logs in "JS/TS Import/Export Sorter" Output window and copy/paste here)
[code]

[2020-10-21 13:03] daidodo commented on #25
@ggyorfi Thanks for your feedback!

May I have the following info for investigation:
1. What's your OS?
2. What's the version of your VSCode?
3. What's the code snippet causing the problem?

[2020-10-23 13:12] jasonkuhrt opened #26 "Run standalone for CI integration, initial bootstrapping, git hooks, etc."
VSCode plugin is fine but the ability to run standalone (e.g. cli) is important for some use-cases:

- CI integration
- pre-commit hooks
- ad-hoc usage, run over whole codebase when first getting started, etc.

[2020-10-26 08:47] daidodo commented on #26
@jasonkuhrt Thanks for your feedback!

This is a great feature and actually it's been in the [TODO](https://github.com/daidodo/tsimportsorter/blob/master/TODO.md) list for a long time. But due to limited time it's never properly prioritised.

Currently I'm working on ESLint compatibility and I'll put this one as the next. Or it'll be even better if you or someone pick it up.

[2020-11-13 09:03] Zefling opened #27 "Save is slow"
**Describe the bug**
Save is much slower when the extension is enabled

**To Reproduce**
Just use save

**Expected behavior**
A save that is done without too much slowing down.

**Actual behavior**
The save is slow, in some cases it is necessary to do 2 saves.

**OS (please complete the following information):**
 - OS: Windows
 - Version: 3.0.4

**VS Code (please complete the following information

[2020-11-15 18:13] neodon opened #28 "import '.' is changed to import './'"
First, thank you for taking over this extension and improving it.  I was sorry to see [TypeScript Import Sorter](https://marketplace.visualstudio.com/items?itemName=mike-co.import-sorter) become unmaintained.  I'm glad to have an up-to-date alternative because it saves my team a lot of hassle and code conflicts with ordering of imports.

**Describe the bug**
When I need to import the default modul

[2020-11-17 20:23] Kizmar opened #29 "Configure to only sort & remove unused (no other formatting)"
**Is your feature request related to a problem? Please describe.**
Sort of, yes. I'm using Prettier and don't have custom Prettier config - using it out of the box. I have format-on-save turned on, and tsImportSorter is line breaking imports causing Prettier to complain about the line breaks.

**Describe the solution you'd like**
I'm using this extension for the sorting and removing of unused impo

[2020-11-17 20:27] Kizmar commented on #29
Now that I spent the time to type that out, I think the following config is doing what I want.
[code]

[2020-11-17 20:28] #29 closed

[2020-11-25 03:33] 1414551889 opened #30 "Exception: Cannot find module '@umijs/fabric'"
**Code snippet triggering the exception**
[code]

**Logs**
(Please select ALL logs in "JS/TS Import/Export Sorter" Output window and copy/paste here)
[code]

Edit:
[code]

[2020-11-25 20:44] daidodo commented on #30
@1414551889

Thanks for the feedback!

Could you provide your logs and the code snippet triggering the exception?

[2020-11-25 21:53] daidodo commented on #28
@neodon

Thanks for your feedback!

I think this one is duplicated to https://github.com/daidodo/tsimportsorter/issues/18 (Closed). But I'm happy to take any arguments since many people seem to ask the same question.

[2020-11-25 22:26] daidodo commented on #27
@Zefling

Thanks for your feedback!

Could you provide the code snippet or a link to the source file that causing the issue?
In my end (MacBook Pro) it takes ~130ms to format a 150-line TS file with 30 lines of imports.

You should be able to find out the exact time used when formatting a file in the Output channel for this extension:

<img width="704" alt="1" src="https://user-images.githubuserco

[2020-11-25 23:07] neodon commented on #28
Thank you for the response.  I read through the discussions.  I'll echo the sentiment that it would be great to have an option to disable this behavior.  It seems that it's only necessary to support an anti-pattern of having conflicting package imports (e.g. `foo.js` + `foo/index.js` both exist).  I've never seen this in the wild (though I'm sure a few people do it) and have only encountered it on

[2020-11-26 10:01] daidodo commented on #28
Path normalisation is necessary for merging imports and exports, so we can format:
[code]
to
[code]
The only question is whether to keep the final `/` for `.`, `..`, etc.

I agree that we can add an option for `.`, `..`, etc, that:
* Always add the final slash, or
* Always remove the final slash.

At a first glance I think the core logic would be in [normalizePath](https://github.com/daidodo/tsimp

[2020-11-26 11:11] Zefling commented on #27
I have this problem a workspace with a lot of projects. If I remove this extension, the slowdowns disappear.
![Sort2](https://user-images.githubusercontent.com/3032555/100344024-7a8a5d00-2fe0-11eb-8176-21c510bb3923.gif)
On a new workspace, not problem. It's strange.

[2020-11-26 12:27] daidodo commented on #27
Could you setup a shared workspace to reproduce the issue?

[2020-11-26 23:38] Zefling commented on #27
The workspace with project isn't possible because it's not a open source projects. :(

[2020-11-27 10:50] daidodo commented on #27
1. Is it only you having the issue or others too?
2. Have you tried to uninstall this extension and reinstall?
3. Could you reboot your computer or try on another one?

Looks like the first log (after resolving your configuration) took a long time to show. That could be because:
* A. The extension entry function took too long to start for some reason, or
* B. The configuration resolution took too

[2020-11-29 06:48] neodon commented on #28
Thank you! I appreciate the openness and guidance.  I will see what I can do.

[2020-11-30 09:16] Zefling commented on #27
With the new log:
[code]
I find this:
[code]

[2020-11-30 16:11] daidodo commented on #27
@Zefling
Thanks for your helpful logs!

I've released a new revision (3.1.1) with more logs into config resolution. Could you try and share your new logs here?

[2020-12-02 00:03] kruncher opened #31 "Does not respect the VS Code preference for single/double quotes."
**Describe the bug**
When you hit save the import statements switch to using single quotes even when VS Code is configured to use double quotes for JavaScript/TypeScript.

**To Reproduce**
Steps to reproduce the behavior:
1. Adjust the VS Code settings to use double quotes for JavaScript/TypeScript.
2. Use double quotes with an import statement.
3. Save the file.

**Expected behavior**
Double quot

[2020-12-02 01:33] #31 closed

[2020-12-02 21:55] daidodo opened #32 "Read ESLint config"
https://eslint.org/docs/developer-guide/nodejs-api#-eslintcalculateconfigforfilefilepath

[2020-12-02 21:56] daidodo opened #33 "Reconcile ESLint and extension config."

[2020-12-02 21:57] daidodo opened #34 "Test results against ESLint."

[2020-12-09 18:29] daidodo commented on #32
Finished with multiple commits:
https://github.com/daidodo/tsimportsorter/commit/7337ff751ce716802a7dbe9c5d368bbe06e3c57b
https://github.com/daidodo/tsimportsorter/commit/df7ed6bd2d4fa435073d74db62171e82836d55cd
https://github.com/daidodo/tsimportsorter/commit/59003c9555cfa7b8de402852d7af26c8ab5139c7

[2020-12-09 18:29] #32 closed

[2020-12-09 18:34] daidodo commented on #33
Finished with commit https://github.com/daidodo/tsimportsorter/commit/8c537e5f2934fd9eec5058cc4cb2932f07aef4d4

[2020-12-09 18:34] #33 closed

[2020-12-11 20:20] #34 closed

[2020-12-15 13:24] daidodo commented on #30
Hi @1414551889,

I believe the issue was related to bad configuration of prettier, so I suppressed the error in release v4.1.0.
Please check out and tell me if there are still issues.
I'll close the issue for now.
Thanks!

[2020-12-15 13:24] #30 closed

[2020-12-15 13:34] daidodo commented on #25
Hi @ggyorfi,

I'll close this issue since it's outdated.
Please check out the latest release v4.1.1 and feel free to re-open it if you ever encounter the issue again.
Thanks!

[2020-12-15 13:34] #25 closed

[2020-12-15 14:21] daidodo commented on #27
Hi @Zefling,

From v4.1.0, you can switch on/off [Debug Mode](https://github.com/daidodo/tsimportsorter/blob/master/CONTRIBUTING.md#debug-mode) in User Settings. Maybe it can help you find useful logs if the issue appears again.

Thanks!

[2020-12-16 16:14] Zefling commented on #27
With the last version :

[code]

[2020-12-17 16:34] daidodo commented on #27
Thanks for your logs, @Zefling !

Looks like the issue is `tsconfig.json` loading.
I'm not sure about the root cause as your config worked fine in my laptop. But I'll keep watching it.

If you find more clues, please let me know and I'll appreciate it!

[2020-12-18 20:54] daidodo commented on #28
Hi @neodon,

Have you started working on this issue?

This issue is the next priority of my current project [eslint-plugin-import Compatibility](https://github.com/daidodo/tsimportsorter/projects/2). So I'm happy to work on it if you haven't started.

Thanks!

[2020-12-18 21:59] neodon commented on #28
I've only updated some tests, so feel free to take it in another direction.  Here is the branch: https://github.com/neodon/tsimportsorter/tree/issue-28-minimize-paths

[2020-12-19 10:25] daidodo commented on #28
@neodon, thanks for sharing!

This is a community project so please feel no pressure.

And if you like you can pick up any items from [eslint-plugin-import Compatibility](https://github.com/daidodo/tsimportsorter/projects/2) or [TODO](https://github.com/daidodo/tsimportsorter/blob/master/TODO.md) list.
The [CONTRIBUTING.md](https://github.com/daidodo/tsimportsorter/blob/master/CONTRIBUTING.md) cou

[2020-12-22 13:23] daidodo commented on #28
Hi @neodon, this issue should be resolved by the latest release v5.0.0.

Now you can set `removeLastSlashInPath` and `removeLastIndexInPath` in your config if you'd like useless `/` and `index` to be removed.

Furthermore, you can just set up ESLint to enable [import/no-useless-path-segments](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-useless-path-segments.md) whic

[2020-12-28 18:18] roypearce opened #35 "5.0.3 unable to load .eslintrc.js file"
**Describe the bug**
First, thanks for your work on this project.

Version 5.0.2 is able to load the projects .eslintrc.js file just fine and applies the import sort order as expected. Starting with 5.0.3 the log files say they are unable to load the same file (though the location is accurate, and the file can be opened by clicking the path the logs say it is unable to open).

Specific error: `[20

[2020-12-29 00:37] daidodo commented on #35
Hi @roypearce, thanks for reporting the issue!

The issue is related to the Webpack so I disabled it and released a new version 5.0.6.

Please try it out and tell me if the problem persists.

[2020-12-29 00:50] roypearce commented on #35
Yes, that seems to have fixed it, thank you!

[2020-12-29 00:50] #35 closed

[2020-12-29 17:46] roypearce opened #36 "Option to allow for only sorting"
In my projects, prettier controls line length and makes additional decisions about when to break the binding names onto multiple lines. Even with the following which gets it right most of the time to match prettier
[code]
there are situations where there is a conflict between the `maxLineLength` from this project and prettier. For example the following import remains as one line with prettier desp

[2020-12-29 18:47] daidodo commented on #36
Hi @roypearce, you can add `maxLineLength: 0` in so the extension will ignore line length as well:

[code]

Basically the extension considers both line length and count of names to decide line wrapping. And `0` tells it to not care about either.

Hope that helps you!

[2020-12-29 18:53] daidodo commented on #36
Same as https://github.com/daidodo/tsimportsorter/issues/29.

[2020-12-29 19:00] #28 closed

[2020-12-29 19:09] roypearce commented on #36
The problem with adding the `maxLineLength` is that since this plugin applies the formatting after prettier runs, every import is now one-lined which further diverges the formatting from what prettier is doing. Having the same line lengths in prettier and this plugin gets it close but in the example I specified the logic differs, and prettiers formatting style should win out.

[2020-12-29 19:19] daidodo commented on #36
I guess what you want is that the extension formats imports/exports first, and then prettier format the whole file?

If yes, you could install prettier AFTER this extension in VSCode, e.g. uninstall prettier and then install again. (I'm not sure how to specify formatter orders in VSCode but did once enter the situation that prettier ran after this extension.)

[2020-12-29 23:21] #36 closed

[2021-01-16 21:05] JohnLouderback opened #37 "Does not work .vue files"
**Describe the bug**
I can't seem to use this on .vue files

**To Reproduce**
1. Create a .vue single file component
2. include a script block like `<script lang="ts">`
3. Try to sort the imports by save or manual action

**Expected behavior**
It should sort imports in .vue files containing script blocks

**Actual behavior**
It does nothing

**OS (please complete the following information):**

- O

[2021-01-16 21:22] JohnLouderback commented on #27
For what it's worth, I also have a codebase that experiences this slowness.

[2021-01-16 21:27] daidodo commented on #27
@JohnLouderback
Thanks for the feedback!

Is it possible that I can access the codebase? Or can you make a demo project to reproduce the issue?

[2021-01-18 23:01] daidodo commented on #37
Hi @JohnLouderback,

Thanks for the feedback!

Vue is not supported yet but I've put it in the [TODO list](https://github.com/daidodo/tsimportsorter/blob/master/TODO.md).

[2021-01-27 18:49] Nxt3 opened #38 "Regex won't groups of similar patterns"
If you have custom group rules and both rules have the same start, it will default to the first group in the rules.
**Expected behavior**
A clear and concise description of what you expected to happen.

**Actual behavior**

Given:
[code]

will group to:

[code]

but I would expect:

[code]

**OS (please complete the following information):**
**VS Code (please complete the following information):**

[2021-01-27 19:01] Nxt3 commented on #36
I tried installing them in a different order and it doesn't seem to have worked for me. Being able to disable all formatting and just handle grouping/sorting would be an amazing addition.

[2021-01-27 19:17] Nxt3 opened #39 "Support for maxLineLength setting in vscode-settings"
I've seen it recommended a few places here to use the `maxLineLength: 0` setting when running into issues with prettier.

Would it be possible to set this in vscode settings as opposed to the `importSorter` config?

[2021-01-27 19:50] daidodo commented on #38
Hi @Nxt3, thanks for the feedback!

Apparently, `"^[@]"` is too broad so perhaps you need to be more specific about what you want for the 1st group. My best guess is `["^@angular", "^@", {}, "^[.]"]`.

Speaking of your suggestion, it's hard to decide which group a statement should go when matched by multiple ones. So first one winning seems a simple and reasonable solution. However, I'm happy to h

[2021-01-27 20:08] daidodo commented on #39
@Nxt3, thanks for the feedback!

Could you provide links about the issues and recommendations? I need to understand them better before making decisions.

Basically, `maxLineLength` is not in VS Code settings because it's covered by Prettier and EditorConfig. VS Code settings are generally not recommended IMHO because it's not portable in team works. But I'm open to different perspectives.

[2021-01-27 20:12] Nxt3 commented on #39
Sure: https://github.com/daidodo/tsimportsorter/issues/36#issuecomment-752201684 and https://github.com/daidodo/tsimportsorter/issues/29#issuecomment-729181831

[2021-01-27 20:21] Nxt3 commented on #38
The issue with `["^@angular", "^@", {}, "^[.]"]` is that it only covers `@angular` and I'd need to update it every time there is a new import I encounter that . Like in  the below:

[code]

I'd need to combine several patterns for the first group. I would expect the sorting to happen like:

* Make first pass  and sort with first group
* Second pass is second group (take stuff from the first group

[2021-01-27 21:25] daidodo commented on #39
Ah, I see where you're from.

Are you having the same issue with #36? If yes, `maxLineLength` won't help you as [commented](https://github.com/daidodo/tsimportsorter/issues/36#issuecomment-752209125). The real solve for that would be either disabling formatting or compatible with Prettier.

[2021-01-27 21:28] Nxt3 commented on #39
Yes I'm running into the same problem. If there was a way to have it format so that everything is always on one line and then let prettier handle it that would probably be the fix.

[2021-01-27 21:33] daidodo commented on #39
That's essentially running prettier after this extension, which you said couldn't achieve.

[2021-01-27 21:42] daidodo commented on #38
Let me understand it.
Is it right that you want:
1. Everything starting with `@mymodule` goes to the 2nd group;
2. Anything else starting with `@` goes to the 1st group?

If yes, maybe you can use this: `["^@(?!mymodule/)", "^@mymodule/", {}, "^[.]"]`

[2021-01-27 21:43] Nxt3 commented on #39
The other person was posting the issue was saying that if you had the following:
[code]

ts-import-sorter would format it like so:

[code]

whereas prettier would leave it like this:

[code]

so that would imply that there is some extra processing happening in ts-import-sorter to make that happen, right?

[2021-01-27 21:45] Nxt3 commented on #38
Technically not just anything with `@xxx`; because what would happen to `import { take } from 'rxjs/operators';` in that case? It would end up in the third group wouldn't it?

[2021-01-27 21:53] daidodo commented on #39
Yes, this extension pre-calculates the line length and if it exceeds the limit, it will wrap the statement.
To be honest, I don't think prettier is following the limit fully but I can implement a fall-back compatible to it.

[2021-01-27 22:00] daidodo commented on #38
Yes. So the question boils down to what your grouping criteria are?

[2021-01-27 22:19] Nxt3 commented on #39
That's correct: prettier does not format imports in that way; it's left as one-line regardless of line length.

https://prettier.io/docs/en/rationale.html#imports

[2021-01-27 22:22] Nxt3 commented on #38
I linked above but maybe options for grouping based on locality? Essentially:

[code]

https://github.com/alfnielsen/vsc-base/tree/master/vsc-organize-imports#group-options

[2021-01-27 22:42] daidodo commented on #39
Thanks for the reference, that's helpful!

So what I recommend now is implementing the compatible behaviour with prettier, if it's found. Otherwise wrap the line.
What do you think?

And this shouldn't be a big change so it's more than welcome if you'd like to do it in case you're interested.

[2021-01-27 22:46] Nxt3 commented on #39
Any chance you could point me to which files to look at? If I found some time I wouldn't mind taking a stab.

[2021-01-27 22:58] daidodo commented on #39
Sure.
Perhaps the first step is to take a look at [CONTRIBUTING.md](https://github.com/daidodo/tsimportsorter/blob/master/CONTRIBUTING.md).
The prettier config is read [here](https://github.com/daidodo/tsimportsorter/blob/master/src/config/prettier.ts) so you know if it's found.
And the start point of composing an import is [here](https://github.com/daidodo/tsimportsorter/blob/master/src/config/pr

[2021-01-27 23:08] daidodo commented on #38
I checked the [code](https://github.com/alfnielsen/vsc-base/blob/6da7a3bfd337ead3d317526609a8fdaafc4953d9/vsc-organize-imports/src/SortImports.ts#L163-L172) and now understand the notations of `global` and 'absolute` imports.

I agree it's a nice feature to distinguish local and external modules. But given that it needs to probe every import path and consider `baseUrl` and path alias, I'd need mor

[2021-02-02 17:40] karlhorky commented on #39
This is great, compatibility with Prettier would be awesome! Look forward to this change!

[2021-02-12 11:58] daidodo commented on #26
Hi @jasonkuhrt

The CLI and APIs are now in separate package [Format-Imports](https://github.com/daidodo/format-imports).
Please check it out and tell me if you have any questions.

Thanks!

[2021-02-12 12:10] daidodo commented on #39
@Nxt3, have you started anything on this thread? Otherwise I'm going to pick it up soon. Thanks!

[2021-02-12 15:15] Nxt3 commented on #39
@daidodo I haven't had a chance 🙃

[2021-02-12 16:00] daidodo commented on #39
No worries, I'll pick it up then.

There are some other issues and more in the [TODO](https://github.com/daidodo/format-imports/blob/main/TODO.md) list if you still want to get your feet wet.

[2021-02-12 21:41] daidodo commented on #39
### Prettier Study

Did a few experiments in [Prettier Playground](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEB6VACAvD3GCSAtgA4QBOMAztrjgDpQPoYAMGUAhoXJQwJYlyMDAHIOAWgBucGbLhkAnuIA2ENeo3QA5lLmzFKzUag7KYMn2IwRAbgZNMARnZc4-QRQwBBDADMyEISiHCGhYeGhIu6knsAAGgkAvn4BQSIAHgAmvtm5OflRUAIxwgBUGBzUXj7+gaLZcL6Nzb5NhcVC3tgYZHAAjgCufL0AFCIARrp68kqqRhomU3oGc-Nqi4QQmQPKcCIAlHaMx8wATADULty8RR7CAEIANBjllRgAw

[2021-02-12 21:52] Nxt3 commented on #39
That was a nice write-up! Thanks for putting that together.

I'm a fan of Option 2 with `prettierWrapping`. 😎

[2021-02-12 23:20] daidodo commented on #39
Option 2 was my favourite too as a straightforward solution. But the nitpicking `maxXXX` settings made me a bit uncomfortable.

I don't have the data but generally I don't expect people use `maxXXX` settings out of Prettier compatibility issues. If that's true, I think the backward incompatibility of the recommended solution wouldn't be a problem.

[2021-02-13 14:22] karlhorky commented on #39
Yeah, although I don't know the project too well, I would also vote for the recommended solution (breaking change, but less confusing).

There's been so many times that dealing with confusing APIs has led to hours of pain. Breaking changes mean everyone is affected, but less pain overall (and this extension is relatively "young" still, so breaking changes hurt less).

[2021-02-14 05:59] jasonkuhrt commented on #26
Thanks @daidodo! We'll check this out in the near future probably.

[2021-02-14 15:06] #26 closed

[2021-02-15 00:10] daidodo commented on #39
@Nxt3 and @karlhorky, I've release v7.0.0 with the recommended solution.
Please check it out and tell me if you have any questions.

Thanks!

[2021-02-15 16:07] karlhorky commented on #39
Just installed it, seems to be good so far!

One thing is that it does say that `"tsImportSorter.configuration.wrappingStyle": "prettier"` is an "Unknown Configuration Setting" - I guess that's just temporary?

![Screen Shot 2021-02-15 at 17 04 28](https://user-images.githubusercontent.com/1935696/107969540-317af100-6fb0-11eb-91e5-0ac759f34489.png)

[2021-02-15 16:24] daidodo commented on #39
Good catch! Fix is coming.

[2021-02-15 22:06] daidodo commented on #39
@karlhorky Please try v7.0.1.

[2021-02-16 09:41] karlhorky commented on #39
Looks good to me, thanks!

I've added it to the [System Setup Guide](https://github.com/upleveled/system-setup) for our coding bootcamp at @upleveled and we'll use it together with the students and report any issues :)

[2021-02-17 00:46] daidodo commented on #39
Thanks! I'll close the issue but feel free to reopen or create a new one if you have any questions.

[2021-02-17 00:46] #39 closed

[2021-02-17 23:21] aldd-waguirreo opened #40 "Single quote import path"
Suppor por single quote path

[2021-02-17 23:44] Nxt3 commented on #39
Forgot to leave some appreciation! This turned out beautifully; makes this extension the first one to get sorting / format correct. Fantastic job and thanks again!

[2021-02-18 10:12] fedulovivan opened #41 "Backward incompatible changes in v7 and vscode extensions autoupdate"
By default vscode performs [autoupdate of installed extensions](https://code.visualstudio.com/docs/editor/extension-gallery#_extension-autoupdate).

So moving options like *maxDefaultAndBindingNamesPerLine* from top-level scope under *wrappingStyle*  makes extension to apply default setting rather than using project-level override. This breaks formatting of existing code.

[2021-02-18 18:17] daidodo commented on #40
Thanks for your feedback, @aldd-waguirreo!

Have you tried [quoteMark](https://github.com/daidodo/format-imports/blob/main/docs/interfaces/configuration.md#quotemark) option? You set it in *import-sorter.json* or *package.json* under `importSorter` section.

Examples:

*import-sorter.json:*
[code]

Or

*package.json:*
[code]

[2021-02-18 19:04] #40 closed

[2021-02-19 00:03] daidodo commented on #41
Hi @fedulovivan, sorry for the inconvenience!
But the incompatible change was planned and expected ([Discussions](https://github.com/daidodo/tsimportsorter/issues/39#issuecomment-778470383)). And that's why there was a major version bump.

Back to your issue, is it possible you move the settings to `wrappingStyle`? If not, why?
I'm also interested in how `maxDefaultAndBindingNamesPerLine` etc. set

[2021-02-19 10:42] miZyind opened #42 "Support Type-Only imports in group rules"
**Is your feature request related to a problem? Please describe.**
I can not find a correct setting to sort all the Type-Only import statements to the last group.

**Describe the solution you'd like**
It would be very helpful for me if I can define the following rules:
`"tsImportSorter.configuration.groupRules": [{}, "^[@]", "^[#]", "^[.]", "Type-Only"]`

**Additional context**
This is an example

[2021-02-19 11:14] fedulovivan commented on #41
This is definetly not a problem to move props (already fixed). But due to autoupdate, we did not noticed that immetiately. So several committed files were re-formatted.
Use case for *maxDefaultAndBindingNamesPerLine* is quite simple - just to keep `import { foo, bar, baz } from 'lorem'` in one line.

[2021-02-19 12:03] daidodo commented on #42
Hi @miZyind, thanks for the feedback!

This is a good suggestion and I'll see what I can do here!

[2021-02-19 12:15] daidodo commented on #41
May I know why the changes weren't found before committing?

[2021-02-20 08:06] fedulovivan commented on #41
On a huge codebase its hard to notice the real reason of appearing such changes. It may be some old file, which was last touched before import-sorter was added to pipeline. Or re-formatting may be caused by the reason we discussing here in #41

[2021-02-21 11:33] daidodo commented on #41
Ok. Sorry again for the inconvenience.
Is there anything I can do to help?

Maybe you'd like to know that there are [CLI and APIs](https://www.npmjs.com/package/format-imports) for use in CI/CD pipelines, on which this extension is based on.

[2021-02-21 12:34] daidodo commented on #42
### Solution

A straightforward way is to add `importType: boolean` into [groupRule](https://github.com/daidodo/format-imports/blob/main/docs/interfaces/grouprule.md):

* When it's _true_, the group accepts only `import type`.
* When it's _false_, the group accepts only `import`.
* When it's _undefined/null_, the group accepts both.

So the above use case would be like this:
[code]

**Explained:**

[2021-02-22 02:25] miZyind commented on #42
@daidodo Thanks for your very quick reply! I have no other ideas because the solution you provided is much better than I expected 😄

[2021-02-22 22:05] daidodo commented on #41
@fedulovivan, I'll close this issue if there isn't anything I can do.

Please feel free to reopen or create a new if you have further questions!

[2021-02-22 22:05] #41 closed

[2021-02-22 23:41] Torhal commented on #42
Using this method, how would the import types be sorted at the end? Not at all? The same as the defined groups?

[2021-02-23 00:02] daidodo commented on #42
Hi @Torhal, what do you mean?

In @miZyind's example, all `import type`s are at the end, by falling into the fall-back group.

If you mean to place a defined type-only group at the end, you can do this:

[code]

The key is to plan where the fall-back group is.
Hope that helps!

[2021-02-23 00:04] daidodo commented on #42
@miZyind, I've release v7.2.0 which includes the feature above.
Please check it out and tell me if you have any questions.
Thanks!

[2021-02-23 00:12] Torhal commented on #42
What if I wanted a type-only group at the end, but also wanted them sorted the same way as non-type groups?

[code]
Then, after that, have identical sorting as above but for the type-only imports.

[2021-02-23 00:25] daidodo commented on #42
I see.
If you want type-only imports are in different groups (separated by an empty line), you can define those groups separately, e.g.:

[code]

If you want type-only imports are in one group (no empty lines in between) but sorted the same way, you can use sub-groups:

[code]

You can also check out [Grouping Rules](https://github.com/daidodo/format-imports/wiki/Grouping-Rules) wiki for more info

[2021-02-23 00:33] Torhal commented on #42
Ah, good deal! Thank you!

[2021-02-23 03:19] miZyind commented on #42
@daidodo I've given it a try. It looks awesome 👍
Let me share my config and test result here.

This is the current `groupRule` I defined:
[code]
1. I would like to sort the **non-type** `fall-back group` on the top.
2. Sort the **non-type** `regex groups` in the middle.
3. Sort others **type** groups at the end and follow the order of **pre-defined** `regex groups (@ -> # -> .)`.

This is the sort

[2021-02-23 03:19] #42 closed

[2021-03-16 22:09] Torhal opened #43 "Export sorting doesn't work the same as Import sorting."
I had expected exports to be sorted by the same criteria as imports, but discovered that only the barrel names are sorted.

Given
[code]
Nothing happens. If these were imports instead of exports, you'd see:
[code]
Given:
[code]
The export is correctly sorted as:
[code]
This is correct, as it is what also happens for imports.

[2021-03-18 12:34] daidodo commented on #43
@Torhal, thanks for the feedback!

Details about how exports are formatted can be found [here](https://github.com/daidodo/format-imports-vscode/issues/6#issuecomment-619386911). And sorting exports by paths is not supported yet because the requirement isn't clear.

But I'm happy to discuss any suggestions from you.

[2021-03-21 03:13] jasonkuhrt commented on #26
https://twitter.com/JasonKuhrt/status/1373472671992848384

[2021-03-30 09:24] tomnil opened #44 "Doesn't respect .eslintrc.json max-length"
Lines above 80 characters are wrapped even if there's a max-len rule under "rules" in .estlintrc:
        "max-len": [ "error", { "code": 200 } ],

Plugin debug output gives:

[2021-03-30T11:21:14.163] [DEBUG] format-imports.formatSource - composeConfig: {
  maxLength: 80,  <========== There it is :)
  wrap: {
    withoutDefault: 9007199254740991,
    withDefault: 9007199254740991,
    perLine: 90

[2021-04-01 21:44] daidodo commented on #44
@tomnil - Thanks for the feedback!

This plugin doesn't check `max-len` from ESLint right now. Instead it gets max line length from:
* VSCode settings
* Prettier
* EditorConfig
* *import-sorter.json*
*  *package.json*.

But I'll check if ESLint `max-len` can be added to the list and come back later.

[2021-04-02 21:33] daidodo commented on #44
@tomnil - After some study on ESLint [max-len](https://eslint.org/docs/rules/max-len) rule, I've come up with a proposal.

The plugin will check ESLint `max-len` rule, and handle its options as follows:
* If `code` is set, merge it to [maxLineLength](https://github.com/daidodo/format-imports/blob/main/docs/interfaces/configuration.md#maxlinelength).
  * Currently, the merge algorithm is "the last

[2021-04-06 21:12] daidodo commented on #44
@tomnil - I've released v7.3.0 to address this issue (and a few others). Please check it out and tell me if there are more issues.
Thanks!

[2021-04-06 21:23] daidodo commented on #43
@Torhal - I'll close this issue since there isn't enough response to start a discussion. But feel free to re-open it once you have something in mind.

[2021-04-06 21:23] #43 closed

[2021-04-06 21:28] daidodo commented on #27
@Zefling and @JohnLouderback - Are you still having the performance issue?
There is [another issue](https://github.com/daidodo/format-imports/issues/3) that might be related and I've fixed it, so I'll close this one.
Feel free to re-open it if you have more questions. Thanks!

[2021-04-06 21:28] #27 closed

[2021-04-06 21:52] Zefling commented on #27
Sorry, I'm no longer working on the problematic project. I haven't noticed the problem on other projects. It is possible that it is a problem of workspace.

[2021-04-07 17:23] brunolm commented on #44
I have this (`"printWidth": 120,`) in my `.prettierrc` and the extension is considering 80

[2021-04-07 17:25] brunolm opened #45 "Run on save with `editor.codeActionsOnSave`"
I'd like to run some other operations on top of sorting imports. It'd be useful if I could use it with `editor.codeActionsOnSave` so I could potentially do something like this:

[code]

[2021-04-08 21:54] daidodo commented on #44
@brunolm - Thanks for the feedback!
Could you share your config for the extension in *import-sorter.json* or *package.json*?
Also if you can [enable debug mode](https://github.com/daidodo/format-imports-vscode/blob/master/CONTRIBUTING.md#debug-mode) and share the logs, that'll be even better.

[2021-04-08 22:38] daidodo commented on #45
@brunolm - Thank you for the suggestion!
Seems there are only a few [code actions supported](https://code.visualstudio.com/docs/languages/javascript#_code-actions-on-save). And I haven't found any examples of how to register a new code action, except [the official API doc](https://code.visualstudio.com/api/references/vscode-api#languages).

I'll come back to it after fixing some bugs. Meanwhile, i

[2021-04-08 23:02] daidodo commented on #44
More links:
https://stackoverflow.com/questions/60718493/difference-between-codeactionsonsave-and-formatonsave-in-vs-code
https://github.com/microsoft/vscode-docs/blob/main/release-notes/v1_41.md#eslint

[2021-04-08 23:04] daidodo commented on #45
More links:
https://stackoverflow.com/questions/60718493/difference-between-codeactionsonsave-and-formatonsave-in-vs-code
https://github.com/microsoft/vscode-docs/blob/main/release-notes/v1_41.md#eslint

[2021-04-09 00:28] brunolm commented on #45
This extension creates `sources.formatDocument`
https://marketplace.visualstudio.com/items?itemName=rohit-gohri.format-code-action

Maybe it's easy to create something by using it as a reference. I haven't looked into the source code, but assume it should be possible to do it.

[2021-04-09 10:17] tomnil commented on #44
Thank you for your hard work. It's still defaulting to 80. Me personally I would be pefectly fine with a setting like tsImportSorter.configuration.wrappingStyle: { maxLength: 180 }.

If you want better debugging, I suggest you add a console.log when the maxLength is parsed and decided (eg, "Setting maxLength to 80. Source is xxxx").

[2021-04-09T12:12:44.211] [DEBUG] format-imports.formatSource -

[2021-04-09 15:51] daidodo commented on #44
@tomnil - could you share complete logs of a formatting action? There should be configs from, eg vscode, prettier, eslint, etc.
Thanks!

[2021-04-10 01:28] daidodo commented on #45
@brunolm - I've release v7.3.2 with code action support:

[code]

Please check it out and tell me if you have any questions.
Thanks!

[2021-04-13 15:27] brunolm commented on #45
It's working! It looks awesome!
Thank you!

[2021-04-13 15:27] #45 closed

[2021-04-13 15:33] brunolm commented on #44
Debug output

[code]

It does seem to be able to read prettier config, but it doesn't format the same way prettier does. However, [with the action we can run on save now](https://github.com/daidodo/format-imports-vscode/issues/45) I can have it sort and run format afterwards, so it's not that big of a deal now.

[2021-04-13 17:30] daidodo commented on #44
@brunolm
Thanks for the logs!
Seems your problem is different from the original issue (ESLint max-len doesn't work). But I'm happy it's gone.

Regarding the compatibility with Prettier, I think what you need is `"wrappingStyle": "prettier"`.
Please see [this wiki](https://github.com/daidodo/format-imports/blob/main/docs/interfaces/configuration.md#wrappingstyle) for more info.

[2021-04-14 00:04] daidodo commented on #45
@brunolm
I've release v7.3.4 which fixes the "formatting twice" issue, so you can enable both `autoFormat` and `editor.codeActionsOnSave` now.

[2021-04-21 00:25] dburdan commented on #44
Is there any interest in adding a flag to disable ESLint checking? We currently use (and love) this tool but the 7.3.0 update broke our setup because ESLInt config take precedence over our `import-sorter.json`.

We use a max-len for our code, but not imports.

[2021-04-21 08:24] daidodo commented on #44
@dburdan - Thanks for your feedback!

May I ask what's the settings in *import-sorter.json* and ESLint for max line length and why they are different?

[2021-04-21 14:55] dburdan commented on #44
Our ESLint has a max length of 100, but for the import sorter it's 0 (no max at all).

We don't need nicely formatted imports, so we allow unlimited line length just for the imports.

When eslint max-len is set, it breaks that usage pattern since it "overrides" the import-sorter.json.

[2021-04-21 16:24] FFdhorkin opened #46 "Doesn't respect eslint indent settings"
**Describe the bug**
The `@typescript-eslint/indent` rule appears to be ignored, as when reformatting imports to multi-line form, it is only using 2 spaces, not 4 spaces.

By way of example: the following import line
`import { parse, stringify } from 'teleport-javascript';`
gets reformatted as
[code]
when it should be
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. have eslint indent

[2021-04-21 17:05] daidodo commented on #44
Could you share the Eslint configs to help me understand the use case? Thank you!

[2021-04-21 17:21] dburdan commented on #44
Thanks for taking the time to check it out!

`.eslintrc`
[code]

`import-sorter.json`
[code]

[2021-04-21 19:42] daidodo commented on #46
@FFdhorkin - Thanks for your feedback!

Could you share your ESLint configs?

[2021-04-21 23:41] daidodo opened #47 "Flag to disable ESLint checking"
Moving [a new feature request](https://github.com/daidodo/format-imports-vscode/issues/44#issuecomment-823689527) to this new issue:

`.eslintrc`
[code]

`import-sorter.json`
[code]

[2021-04-21 23:43] daidodo commented on #44
@dburdan - I've created [a new issue](https://github.com/daidodo/format-imports-vscode/issues/47) to address your question.

I'll close this one as the original issue has been resolved.

[2021-04-21 23:43] #44 closed

[2021-04-21 23:46] dburdan commented on #47
I should've created a new issue in the first place. Thanks again for taking the time to look into this.

[2021-04-22 00:00] daidodo commented on #47
May I ask why you disable `formatExports` and what if exports exceed 100 line length?

[2021-04-22 00:05] dburdan commented on #47
Just disabled for now as we get formatting implemented each step at a time.

We won't format exports either and will have them at unlimited line length.

[2021-04-22 08:37] daidodo commented on #47
Thanks!
Before getting into the solution, I'd like to clarify some options in your *import-sorter.json*:
* `"autoFormat": "onSave"` is unnecessary because it's the default;
* You don't need to add `"node_modules"` in `"exclude"` because it'll be merged to the default, see [here](https://github.com/daidodo/format-imports/blob/main/docs/interfaces/configuration.md#exclude) and [here](https://github.

[2021-04-22 17:25] dburdan commented on #47
Thanks for the heads up. Even though those are default, I feel it's nice to explicitly list some properties in case the defaults were to change in a future version.

[2021-04-22 20:51] daidodo commented on #47
Yes, it's up to you.

Regarding the new feature, my understanding is you want the plugin to ignore `max-len` rule because you've disabled it for imports and exports.

And I also noticed that your *import-sorter.json* has `"emptyLinesAfterAllImports": 2` which can be replaced by ESLint rule [import/newline-after-import](https://github.com/daidodo/format-imports/wiki/ESLint-Compatibility#importnewli

[2021-04-22 20:56] dburdan commented on #47
Thanks for the tip on the `emptyLinesAfterAllImports` ESLint rule, we'll definitely use that!

I think your solution above would work perfectly, and also allow room for new use-cases other teams may encounter. That would solve our problems 👍🏼

[2021-04-24 09:49] karlhorky opened #48 "Add a groupRule to default options for `node:` prefixed builtin modules"
**Is your feature request related to a problem? Please describe.**

The [new `node:` prefix for module specifiers](https://twitter.com/jasnell/status/1385238402149150721) for builtin / core modules (currently in v16, but will be backported) is not specified in the `groupRules` default configuration, which means that it will be sorted inline around "n".

**Describe the solution you'd like**

Add a

[2021-04-27 09:09] daidodo commented on #48
@karlhorky - Thanks for the feedback!
This is a good feature!
One question: Are `node:` imports BEFORE or AFTER React/Angular/Vue by default?
I'm a bit in favour of AFTER because it's aligned with current behaviour.

Happy to hear your thoughts!

[2021-04-27 09:12] karlhorky commented on #48
I guess I don't have strong feelings either way (since it is user-configurable anyway). Usually in my projects, I have Node core modules at the very top.

But as you said, if they are currently below React / Angular / Vue in the current extension configuration, then it would be less of a breaking change to leave them where they are.

[2021-04-29 23:13] daidodo commented on #48
@karlhorky - Sorry for the late response!
I've released v7.4.0 to address the issue.
Please have a look and tell me if you have any questions.

Thanks!

[2021-04-29 23:17] daidodo commented on #47
@dburdan - Sorry for the late response as I was busy recently!
But now the feature is out in v7.4.0!
Please check it out and tell me if you have any questions.

Thanks!

[2021-04-29 23:19] daidodo commented on #46
@FFdhorkin - I'll close the issue since there is no update.
But feel free to re-open if you're still having the issue.
Thanks!

[2021-04-29 23:20] dburdan commented on #47
Amazing, thanks so much! I'll give it a try as soon as the update is available.

[2021-04-30 08:16] karlhorky commented on #48
Ah, can you push to GitHub as well? I'll take a look, thanks!

[2021-04-30 10:07] daidodo commented on #48
Sure. The main changes are in a [commit](https://github.com/daidodo/format-imports/commit/518fcaaa3b57828cdd3b562cb46c02b84d36fc34) from anonther repo https://github.com/daidodo/format-imports.

[2021-04-30 10:27] #48 closed

[2021-04-30 19:18] FFdhorkin commented on #46
Sorry, I didn't see the notification until just now.

Here's a (simplified) version of my `.eslint.cjs` file. I stripped out most of the rules that weren't about import/export or indents. This still does two-space indents rather than 4.

[code]

and my `import-sorter.json`:
[code]

[2021-05-01 08:15] daidodo commented on #46
@FFdhorkin - Thanks very much for the configs!
I've re-opened the issue and will check them soon.

[2021-05-01 18:28] dburdan commented on #47
Upgraded and working 👍🏼  I think it's safe to say this issue can be closed.

[2021-05-01 19:56] #47 closed

[2021-05-06 22:51] daidodo commented on #46
@FFdhorkin - Sorry for the late response!
It's due to [ESLint](https://eslint.org/docs/user-guide/configuring/configuration-files#configuration-file-formats) can't find your config file because the standard name should be .eslint<ins>rc</ins>.cjs.

Could you share your script/command to run ESLint CLI?
And why not use the default name?

[2021-05-12 16:48] FFdhorkin commented on #46
Sorry, my file is actually called `.eslintrc.cjs` and I mis-typed it before.

I do this on the CLI: `pnpx eslint --cache --ext .js,.jsx,.ts,.tsx --fix "src/**/*"`

[2021-05-12 17:20] daidodo commented on #46
Hmm, it's working on my end.i Could you share the extension logs following https://github.com/daidodo/format-imports-vscode/blob/master/CONTRIBUTING.md#debug-mode?

[2021-05-12 17:43] FFdhorkin commented on #46
I'm not sure what changed since I opened this 3 weeks ago, but the issue appears to have resolved itself somehow. Possibly because I just bumped all my package.json dependencies yesterday? Perhaps there was a compatibility issue with an older eslint, etc.

Anyway, AFAIK, this issue no longer reproduces.

[2021-05-12 17:43] #46 closed

[2021-05-13 06:14] dodicandra opened #49 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `tsimportsorter`
- Extension Version: `7.4.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.56.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\DODICA~1\AppData\Local\Temp\dozerg.tsimportsorter-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/E

[2021-05-13 18:58] FFdhorkin opened #50 "when exports are reformatted, newline at end-of-file is removed"
**Describe the bug**
Supposing you have an export at the end of a file with a newline after it, when `formatExports` is turned on, the newline is removed. This conflicts with the eslint rule [eol-last](https://eslint.org/docs/rules/eol-last)

**To Reproduce**
Steps to reproduce the behavior:

1. have an export at the end of a file `export { Foo };` followed by a newline
2. format imports

**Expect

[2021-05-14 09:36] daidodo commented on #50
@FFdhorkin - Thanks for your feedback!

Could you share your debug logs for the extension following [the guide](https://github.com/daidodo/format-imports-vscode/blob/master/CONTRIBUTING.md#debug-mode)?

This feature is controlled by [insertFinalNewline](https://github.com/daidodo/format-imports/blob/main/docs/interfaces/configuration.md#insertfinalnewline) and it defaults to *true*. So there must

[2021-05-14 15:53] FFdhorkin commented on #50
I replaced a certain string with some *s, so the log doesn't actually have a bunch of ****** in it.
[code]

[2021-05-14 18:58] daidodo commented on #50
Thanks for the logs!

Could you share  a bit more info about your env:

1. Do you use Prettier or EditorConfig in your project? I can see `Prettier config: null` in the logs but need to confirm.
2. Could you share if the following flag is off in your VSCode?

<img width="702" alt="image" src="https://user-images.githubusercontent.com/8170176/118315869-f8d6af00-b4ed-11eb-912e-26ce5cda2575.png">

[2021-05-14 21:31] FFdhorkin commented on #50
1. no, just eslint
2. that flag was off, but there's a big difference between "automatically insert final newline" and "preserve it if it is there." Even with that unchecked, it shouldn't remove an end-of-file newline.

[2021-06-13 11:29] leobenkel opened #51 "Remove semicolons at the end of line in imports"
I would like a setting option to disable trailing semicolons.

Thank you :)

[2021-06-16 20:04] Zielak commented on #51
I don't experience these. Do you have any other tool which would dictate semicolons, like prettier?

[2021-06-16 20:59] daidodo commented on #51
@leobenkel
Have you tried option [hasSemicolon](https://github.com/daidodo/format-imports/blob/main/docs/interfaces/configuration.md#hassemicolon) in config?

[2021-06-16 21:00] leobenkel commented on #51
It says read only so I did not try. I was not sure what path I should be using in the config

[2021-06-16 21:08] daidodo commented on #51
Maybe it's a bit misleading.

Basically you can configure the plugin via [a few ways](https://github.com/daidodo/format-imports-vscode#configuration).
For example, you create an *import-sorter.json* file under your project root (same as *package.json*):

[code]

Or add an `"importSorter"` section in your *package.json*:

[code]

[2021-06-16 21:11] leobenkel commented on #51
oh that works ! Thanks ! 🎉

[2021-06-16 21:11] leobenkel commented on #51
Can I set this settings on the vscode level rather than per project ?

[2021-06-16 21:13] daidodo commented on #51
Yes, you're right!

[2021-06-16 21:14] leobenkel commented on #51
I removed the `importSorter` setting from my `package.json` and add it in the global `settings.json` with the line above and that did not work. The line in the `settings.json` is grayed out, not sure what that mean

[2021-06-16 21:18] leobenkel commented on #51
lol don't mind me. I'm stupid xD

In my line above, I put `hasSemicolor` instead of `hasSemicolon` .... 🤦‍♂️

[2021-06-29 07:37] tjx666 opened #52 "How to set extension respect prettier wrap style?"
**Describe the bug**

I use prettier to format my code, but It often happens that prettier format the code after this extension modify code. In face, I think the wrap style should be prettier's responsibility.

[2021-06-29 12:36] tjx666 opened #53 "extension startup time is so long"
I think there should not be so much log after publish the extension. The startup time costs so long may be also related to this?

![image](https://user-images.githubusercontent.com/41773861/123798085-6f523380-d919-11eb-8c12-e734f2d7b76e.png)

[2021-07-01 15:57] daidodo commented on #52
Thanks for the feedback!

You can set `"wrappingStyle": "prettier"` if you prefer Prettier's style.
More details can be found in the wiki: [Line-Wrapping-Style](https://github.com/daidodo/format-imports/wiki/Line-Wrapping-Style).

[2021-07-01 15:58] #51 closed

[2021-07-01 16:08] daidodo commented on #53
Thanks for the feedback!

Unfortunately I don't have much time recently. So if you or someone could help with the issue, I'd be very grateful!

[2021-07-02 02:21] tjx666 commented on #52
Fine, thanks

[2021-07-02 02:21] #52 closed

[2021-07-02 02:22] tjx666 commented on #53
If I have time, I may help to fix it.

[2021-09-17 18:51] jenshaw86 opened #54 "Exception: Unexpected token < in JSON at position 37"
## Code snippet triggering the exception

[code]

## All Logs

(Please open the output channel for "JS/TS Import/Export Sorter" and copy/paste ALL logs here)

[code]

[2021-09-18 11:02] daidodo commented on #54
Hi @jenshaw86 , could you share the code or config causing the exception? As well as plugin logs when it's happening. Thanks!

[2021-09-28 04:14] valdeniomarinho opened #55 "Option to set Semicolon False"
`"tsImportSorter.configuration.hasSemicolon": false`

[2021-09-28 20:21] daidodo commented on #55
Hi @valdeniomarinho - Generally *import-sorter.json* and *package.json* are preferred to VSCode settings because they are portable. For example:

*import-sorter.json:*

[code]

But you can still add the above line to VSCode and it should just work. If not, please share the logs under [Debug Mode](https://github.com/daidodo/format-imports-vscode/blob/master/CONTRIBUTING.md#debug-mode).

Thanks!

[2021-10-01 22:48] daidodo commented on #55
Closing the issue if no further questions.

[2021-10-01 22:48] #55 closed

[2021-10-11 06:46] mikededo opened #57 "Format entire folder, nested folders or even entire projects"
**Is your feature request related to a problem? Please describe.**
Actually, no, it is something it would be pretty useful to have.

**Describe the solution you'd like**
Basically it could be done in many ways, but probably, the easiest would be by right clicking in the files side bar. It would show the options of sorting import/exports of all the files that are inside a folder. With this, it woul

[2021-10-11 20:23] daidodo commented on #57
Thanks for the feedback!

This is available via CLI: https://github.com/daidodo/format-imports#format-a-directory

[2021-10-13 09:46] #57 closed, assigned to nobody

[2021-10-16 16:45] leobenkel opened #58 "Exception: Unexpected token } in JSON at position 936"
## Code snippet triggering the exception

[code]

## All Logs

(Please open the output channel for "JS/TS Import/Export Sorter" and copy/paste ALL logs here)

[code]

[2021-10-19 18:13] #54 closed

[2021-11-09 03:20] ZouYouShun opened #59 "Change "tsImportSorter.configuration.autoFormat" default to "off""
hi @daidodo !

awesome extension!

thanks a lot for that extension, I have some suggestions for you,

could we change that `autoFormat` to `off`

`"tsImportSorter.configuration.autoFormat": "off",`

I think that will be greater for users to config that if they want that auto format.

otherwise when user not config with prettier or eslint yet, they will meet that conflict issue.

[2021-11-09 05:39] jacklimwenjie opened #60 "Separate imports from installed package and absolute imports of local module"
**Is your feature request related to a problem? Please describe.**
Currently, the imports from an installed package and the absolute imports of the local modules are grouped together:

[code]

**Describe the solution you'd like**
Ability to separate the imports from an installed package with the absolute imports of local modules:

[code]

[2021-11-12 09:00] daidodo commented on #59
Thanks for the feedback!

Could you be more specific about your use case?

My understanding is if people install the extension, they expect it to work right away, instead of needing another step to enable it.

[2021-11-12 09:18] daidodo commented on #60
Thanks for the feedback!

Could you define "imports from an installed package" and "absolute imports of the local modules"? How to distinguish them?

[2021-11-14 15:54] ZouYouShun commented on #59
actually, I pack your package into my extension call [index-generator](https://marketplace.visualstudio.com/items?itemName=declanzou.index-generator) and use your command directly🤣
https://github.com/ZouYouShun/vscode-index-generator/blob/master/src/handlers/fixFileOnce.handler.ts#L72

so that make users meet that default save format issue,

maybe turning that off will be friendly,

users will not

[2021-11-14 18:42] daidodo commented on #59
Thanks for sharing!

Have you checked https://github.com/daidodo/format-imports on which this extension is built?
You can use either the CLI or APIs in your extension and customize configs as you want.

[2021-11-17 02:35] #59 closed

[2021-11-26 02:06] dicarlo2 opened #61 "Add support for type modifiers on import names"
**Is your feature request related to a problem? Please describe.**
https://devblogs.microsoft.com/typescript/announcing-typescript-4-5/#type-on-import-names

**Describe the solution you'd like**
Support for at least preserving type modifiers on import names.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2021-12-03 17:48] daidodo commented on #61
@dicarlo2
Thanks for the feedback!

I've published [v7.4.2](https://marketplace.visualstudio.com/items?itemName=dozerg.tsimportsorter) to address the issue. Please have a look.

[2021-12-08 09:11] #61 closed

[2021-12-17 14:28] mxmzb opened #62 "Keep unused imports on demand"
Sometimes I'm playing with packages or code. I might comment or delete a line just temporary, with the intention to bring it back. However, this plugin will remove the unused package immediately, and I need to reimport the package manually again.

Therefore, I wish there was an option to disable just the removal of unsuded packages on save, or manually trigger this action.

Note, that this can not

[2021-12-18 23:49] daidodo commented on #60
Might be a duplicate of https://github.com/daidodo/format-imports-vscode/issues/38.

[2021-12-19 00:03] daidodo commented on #62
Thanks for the feedback!

I'll add it to the TODO list and come back when available.
Meantime, any suggestions or PRs are welcome!

[2021-12-23 23:38] daidodo commented on #50
@FFdhorkin
The issue should be fixed in the new release.
Thanks!

[2021-12-23 23:38] #50 closed

[2022-01-06 11:45] tjx666 commented on #53
@daidodo @zddai

module format-imports import costs too long,

![image](https://user-images.githubusercontent.com/41773861/148378190-7b8b6d21-3356-4773-8e03-2b18de8a7615.png)

[2022-01-06 14:43] daidodo commented on #53
Thanks for the sharing!

This reminds me a previous attempt to webpack the plugin which failed due to eslint loading issues: https://github.com/eslint/eslint/issues/13974.

Currently, I'm on something else but happy to suggest if you're interested.

[2022-03-06 10:12] tjx666 commented on #53
@daidodo fixed in https://github.com/daidodo/format-imports-vscode/pull/64

[2022-03-21 15:39] binaryjack opened #65 "Exception: Unexpected token } in JSON at position 777"
## Code snippet triggering the exception

[code]

## All Logs

(Please open the output channel for "JS/TS Import/Export Sorter" and copy/paste ALL logs here)

[code]

[2022-03-22 00:00] daidodo commented on #65
Hi, could you share your package.json or import-sorter.json? Thanks!

[2022-03-24 01:17] rshea0 commented on #45
The auto format option doesn't appear to be working. I had to use `codeActionsOnSave` to get it to work.

[2022-03-24 19:50] daidodo commented on #45
@rshea0
Could you check if you set:
[code]
Other than that, the extension works fine in my end.

If you still have problems, please open an issue.
Thanks!

[2022-03-27 01:26] rshea0 commented on #45
@daidodo I have `editor.formatOnSave` set to true actually. Maybe it's a conflict with prettier or something? It's fine though, it works with `codeActionsOnSave` (you should mention it in the documentation though, I had to find this thread to find out it was possible).

[2022-03-27 08:18] daidodo commented on #45
Ok. If you have prettier then it's possible that prettier runs after the extension and overwrite. That's why I added code action support.
You can find instructions in the "How to use" section.
Thanks!

[2022-03-27 17:48] rshea0 commented on #45
@daidodo So it looks like even with `codeActionsOnSave` set, it isn't auto sorting in vue files. Other files work fine but vue files don't auto sort (manual sort works). I can open a new issue if you'd like.

[2022-03-28 04:51] andrei-zgirvaci commented on #45
@daidodo I actually have the same exact issue as @rshea0. It was working fine in the same project a few days ago, I haven't changed anything... Not sure what's going on.

Tried to run in `debug` mode with `autoFormat ` set to `onSave`, and it does look like it's detecting and formatting, but it doesn't actually change the file. When enabling `codeActionsOnSave` it works perfectly fine!

I am prett

[2022-03-28 12:21] fedulovivan opened #66 "Autoformat is not working on save (vs code 1.65.2, extension v7.4.12)"
Noticed that after recent update of vscode and/or(?) extension there is a problem with triggering autoformat upon saving file.
(!) Note that formatting is working as expected if triggered manualy (Cmd + Shift + P -> Sort Imports/Exports)

[2022-03-29 07:20] mkholt commented on #66
I am seeing the exact same behaviour.
Tried adding the autoFormat setting to settings.json manually, that has no effect.
Works fine on manual triggering of the extension.

[2022-03-30 05:09] whather opened #67 "Regression in 7.4.11: Unused imports are no longer removed"
I noticed unused imports are no longer getting removed for me when upgrading to 7.4.11 and beyond. Works in 7.4.10.

[2022-03-31 22:17] daidodo commented on #66
Thanks for the feedback!

Hopefully it should be fixed in v7.4.13.
Please tell me if you still have issues.

[2022-03-31 22:22] daidodo commented on #65
@binaryjack
I will close this if there is no more activity.
Please feel free to re-open it if you have more info.
Thanks!

[2022-03-31 22:22] #65 closed

[2022-03-31 22:41] daidodo commented on #53
@tjx666
Sorry for the late response!
I believe there is an improvement from the new release v7.4.13 after I webpacked the extension.

<img width="380" alt="image" src="https://user-images.githubusercontent.com/8170176/161160182-8666ec71-82e3-469d-93a2-6eaf2ce179f1.png">

It was quite a journey to make a solution from:
* https://github.com/eslint/eslint/issues/15575
* https://github.com/eslint/esli

[2022-04-01 07:35] cmlenz commented on #67
I have the same problem, downgrading to 7.4.10 fixed it for now.

I have configured JS/TS Import/Export Sorter in the VSCode workspace `settings.json` as follows:

[code]

We are using TypeScript `ts` and `tsx`. We also have ESLint setup with an `.eslintrc.js` file at the top level of the project.

[2022-04-01 08:20] mkholt commented on #66
Can confirm that it now auto-formats on save after updating to 7.4.13

[2022-04-01 09:18] cmlenz commented on #67
It seems to be working again with 7.4.13, so maybe the same issue as #66?

However, now my named imports are formatted like this:

[code]

Whereas previously they were imported without the spaces in the curlies:

[code]

Sorry for hijacking this ticket, but did something in the regard change since 7.4.10? Is the ESLint rule [object-curly-spacing](https://eslint.org/docs/rules/object-curly-spacing)

[2022-04-01 09:32] daidodo commented on #67
Yes, I think the 2 issues should be related.

Could you create a new issue for [object-curly-spacing](https://eslint.org/docs/rules/object-curly-spacing)?
I can confirm that this rule is NOT considered by the plugin. But I can add it in the next release.

[2022-04-01 09:43] cmlenz opened #68 "Support ESLint object-curly-spacing rule for formatting"
I have ESLint set up to not have spaces inside curlies, using the `object-curly-spacing` rule as follows:

[code]

Since version 7.4.13 the import sorter extension will reformat my imports but put the spaces inside the curlies. For whatever reason, this works fine in 7.4.10.

It would be nice if the [object-curly-spacing](https://eslint.org/docs/rules/object-curly-spacing) rule was honored by the

[2022-04-01 09:49] daidodo commented on #68
Thanks for the feedback!

In short-term, you can set [bracketSpacing](https://github.com/daidodo/format-imports/blob/main/docs/interfaces/Configuration.md#bracketspacing) before next release:
[code]

[2022-04-01 17:08] cmlenz commented on #68
Thanks @daidodo , that works, even though for some reason that option is offered by the VSCode auto complete or the settings UI.

Also, a big thank you for this extension in general, it's such an important part of my coding workflow, but you only ever really notice when it's not doing its magic :)

[2022-04-01 18:50] daidodo commented on #68
Yes, auto-completion is part of the plugin as well.

I've released v7.4.14 to address this issue. With it you can remove the above `bracketSpacing` config.
Thanks very much!

[2022-04-02 02:39] tjx666 commented on #53
![Uploading image.png…]()

[2022-04-02 02:39] tjx666 commented on #53
Much better than before @daidodo

[2022-04-02 02:39] #53 closed

[2022-04-04 14:11] tjx666 opened #69 "Problems loading reference 'file:///Users/xxx/import-sorter.schema.json'"
**Describe the bug**

Open any project contains package.json, show the error message in screenshot

**Screenshots**

<img width="1010" alt="image" src="https://user-images.githubusercontent.com/41773861/161562323-357b13db-cda7-4ce5-a6ae-53a39b45bf55.png">

**OS (please complete the following information):**

- OS: MacOS 12.3.1
- VSCode: 1.67.0-insider
- format-imports-vscode: v7.4.14

[2022-04-05 21:09] daidodo commented on #69
Thanks for the feedback!

Please try v7.4.15 and tell me if the issue persists.

[2022-04-06 07:08] mikededo opened #70 "Extension not respecting Prettier config"
**Describe the bug**

The extension is not respecting the Prettier config file. In my case it is defined as a `.prettierrc.json`.

**To Reproduce**

The configuration we are using is for Prettier is:

[code]

**Expected behavior**

The following line `84` columns and it does not break the `printWidth` prop of the config file:

[code]

When formatting the code with VSCode, the line is kept as it sh

[2022-04-06 07:31] tjx666 commented on #69
/verified

[2022-04-06 07:31] #69 closed

[2022-04-06 14:11] elramus commented on #70
I'm seeing the same issue, starting in version `7.4.13`. Rolling back to `7.4.12` solves it. In our case `"semi": false` is not being respected. Here's our `.prettierrc`:
[code]

[2022-04-06 22:12] daidodo commented on #70
Thanks for the feedback!

Please try v7.4.16 and tell me if you still have problems.

[2022-04-07 02:21] elramus commented on #70
Huzzah, looks like that did it! Thanks for the awesome extension 🚀

[2022-04-07 06:35] mikededo commented on #70
Yep, seems fixed! Thanks 🎉

[2022-04-07 07:53] #68 closed

[2022-04-07 07:53] #67 closed

[2022-04-07 07:54] #66 closed

[2022-04-08 18:17] Swiftwork commented on #70
Unfortunately, I still seem to have this issue with version `v7.4.16` while it works in `v7.4.12`. Worth noting is that I am using yarn with pnp modules.

[code]

[2022-04-08 18:51] daidodo commented on #70
Hi, could you open a new issue?
From the logs, neither prettier nor eslint could be found. Did you install all the dependencies?
It'd be better if there's a demo project to reproduce the issue.
Thanks!

[2022-04-08 18:54] Swiftwork commented on #70
Sure I can open a new issue, just thought it might be better to re-open this one as it seemed related rather than duplicating. I can confirm that the dependencies are installed as they are used by other tools and seeing as downgrading the version to `7.4.12` finds the modules, I don't expect that to be the issue.

[2022-04-08 19:16] Swiftwork commented on #70
Here is a basic reproduction https://github.com/Swiftwork/reproduction-tsimport can you confirm if you want to create another issue or re-open this one?

[2022-04-09 06:56] daidodo commented on #70
I've reopened the issue. Thanks!

[2022-04-09 20:59] geoidesic opened #71 "Exception: Cannot read properties of undefined (reading 'version')"
## Code snippet triggering the exception

I have no idea what's triggering it.

## All Logs

(Please open the output channel for "JS/TS Import/Export Sorter" and copy/paste ALL logs here)
er.. the what?   What is an "output channel" and where would I find it?

[2022-04-11 08:09] daidodo commented on #71
@geoidesic

Could you share the logs when the issue happened? Thanks!
[Debug Mode](https://github.com/daidodo/format-imports-vscode/blob/master/CONTRIBUTING.md#debug-mode)

[2022-04-11 08:44] daidodo commented on #70
Hi @Swiftwork,

I've checked your demo project and can confirm your issue is related to [yarn and pnp](https://yarnpkg.com/features/pnp#fixing-node_modules). Could you create a new issue to address it? Thanks!

[2022-04-11 10:13] gggdomi commented on #71
Similar problem here : open any .ts file, save it "Something is wrong. Please open the logs and report an issue." pop-up appears.
Running `v7.4.17`

The logs:
[code]

Thank you for all your work.

[2022-04-11 13:51] Swiftwork opened #72 "[Regression] Extension no-longer support Yarn and PnP packages"
**Describe the bug**
Versions `v7.4.13` to `v7.4.16` can no longer find Prettier and Eslint modules. While the plugin does work with older version `v7.4.12`. Assumed to be related to [PnP](https://yarnpkg.com/features/pnp) according to https://github.com/daidodo/format-imports-vscode/issues/70#issuecomment-1094722955

**To Reproduce**
Steps to reproduce the behavior:
[Reproduction](https://github.

[2022-04-11 13:53] #70 closed

[2022-04-12 08:40] daidodo commented on #71
Please try v7.4.18.

I couldn't reproduce the issue but can guess what might be wrong.
Hope it will fix the issue.

[2022-04-12 09:08] xuanloi1408 opened #73 "Exception: Cannot read properties of undefined (reading 'version')"
## Code snippet triggering the exception

[code]

## All Logs

(Please open the output channel for "JS/TS Import/Export Sorter" and copy/paste ALL logs here)

[code]

[2022-04-12 16:49] daidodo commented on #71
Emm, I've released v7.4.19. That's not a fix but will log what caused the issue, hopefully.
Could you test it and share the logs in [Debug Mode](https://github.com/daidodo/format-imports-vscode/blob/master/CONTRIBUTING.md#debug-mode)?
Thanks!

[2022-04-13 00:48] Athelian commented on #71
Can confirm that my issue is fixed with v7.4.19! Thanks so much.

Here is my output with a successful format:
[code]

[2022-04-13 08:28] daidodo commented on #71
@Athelian, thanks for the logs!

I'm glad it's working but the issue is still there:

[code]

Just to confirm you don't use ESLint in your project, right?
It'd be good if there is a demo project to root cause the issue.

[2022-04-13 08:50] daidodo commented on #72
Thanks for the feedback!

May I ask how to install yarn v1?
My version is:

[code]

After `yarn install` I don't find *node_modules* but *.yarn/...*. PnP has changed [the behaviour of dependency lookup](https://yarnpkg.com/features/pnp#packages-are-stored-inside-zip-archives-how-can-i-access-their-files).  I think that's the reason why the plugin can't find Prettier and ESlint. (Another factor is

[2022-04-14 07:17] Athelian commented on #71
@daidodo You're welcome.

Actually I am running ESLint in this project, is it okay? I don't know too much about ESLint things unfortunately...
So sorry for that and, sorry also but I cannot share the project code with you. I would if I could.

[2022-04-14 08:45] daidodo commented on #72
Thanks for the sharing!

The plugin needs to look up ESLint (*node_modules/eslint*) and Prettier (*node_modules/prettier*) in the user workspace to understand their configs. Apparently the new PnP module structure is not compatible.

I wonder if there are any public APIs from PnP/yarn that do the work.

[2022-04-14 08:48] daidodo commented on #71
This plugin can [read ESLint configs and adjust the formatting](https://github.com/daidodo/format-imports-vscode#eslint-compatibility). With the issue your ESLint config will not be considered.

A demo project which can re-produce the issue is enough.
Thanks!

[2022-04-14 14:38] Swiftwork commented on #72
I'll do some more digging into supporting both node_modules and PNP, but these seem to me to be the relevant changes where the extension went from working with PNP to not. `v7.4.12 -> v7.4.13`

https://github.com/daidodo/format-imports-vscode/compare/03b00867836e131f95ec7b4aa86ba26aa7d811ba...7ccd4715932fb6b203567c501eebb3c923106848

https://github.com/daidodo/format-imports/compare/2923b8c50553c2

[2022-04-14 15:02] Swiftwork commented on #72
I think I figured out how it is solved for the vscode-eslint and vscode-prettier extensions. Not sure what the best solution for this extension will be but the findings might be worth checking out. Essentially due to the resolving issue, there is a yarn command [`yarn dlx @yarnpkg/sdks vscode`](https://yarnpkg.com/getting-started/editor-sdks#vscode) that "bootstraps" the tools in vscode. This resu

[2022-04-20 11:38] gggdomi commented on #71
@daidodo `v7.4.19` works for me too :)

In addition it now loads my prettier config, which failed in older versions 🎉

If it helps :

- I still have the error `Failed to load ESLint config [...] Cannot read properties of undefined (reading 'version')` in logs
- but as I don't really use eslint, I don't really care here (in fact I'd be glad to ignore eslint altogether for imports - I use `"ignoreES

[2022-04-20 11:54] Athelian commented on #71
@gggdomi Ohh yes confirmed I am on eslint v6 actually

[2022-04-22 07:13] daidodo commented on #71
Thanks for the callout! Is there anything else?

[2022-04-23 17:10] alesanfe opened #74 "Exception: Cannot find module 'c:\Users\alex0\Documents\JavaScript\UNI\entregables-frontend-l9-fo-9\node_modules\eslint'Require stack:- c:\Users\alex0\.vscode\extensions\dozerg.tsimportsorter-7.4.19\out\extension.js- c:\Users\alex0\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\loader.js- c:\Users\alex0\AppData\Local\Programs\Microsoft VS Code\resources\app\out\bootstrap-amd.js- c:\Users\alex0\AppData\Local\Programs\Microsoft VS Code\resources\app\out\bootstrap-fork.js"
## Code snippet triggering the exception

[code]

## All Logs

(Please open the output channel for "JS/TS Import/Export Sorter" and copy/paste ALL logs here)

[code]

[2022-04-30 16:31] I-Enderlord-I opened #75 "Pattern specific configuration"
In some of my projects there are special files (recognisable by their names) that always import certain base classes. I'd like to always have those at the top as a kind of header, but split into other groups in regular files.

I'd be helpful if one could create multiple configurations in the `import-sorter.json` file, which are selected based on regex matching of the file path. Possibly by optiona

[2022-05-02 20:15] daidodo commented on #74
[code]

[2022-05-02 20:17] daidodo commented on #74
@alesanfe, thanks for the feedback!

Could you share more info about the issue, e.g. code snippet caused it, and plugin logs in [Debug  Mode](https://github.com/daidodo/format-imports-vscode/blob/master/CONTRIBUTING.md#debug-mode)?

[2022-05-02 20:41] daidodo commented on #75
@I-Enderlord-I, thanks for the feedback!

Custom config based on source file paths are not supported ATM. But I can think of a few workarounds:

* If your special files are under their own directory, you can add local *import-sorter.json* or *package.json*. [The config inside will override parent/general config](https://github.com/daidodo/format-imports-vscode#monorepo-support).
* If above is not

[2022-05-02 20:41] #71 closed

[2022-05-09 23:09] #74 closed

[2022-05-17 20:11] Swiftwork commented on #72
@daidodo Any progress on this? Do you think you could implement two new properties?
[code]

[2022-05-18 00:05] daidodo commented on #72
Sorry, I'm super busy recently.

Could you give more details on how that would fix the issue?

I don't think I'll have time to implement a fix soon so if you or anyone wants to help, I'd be very grateful!

[2022-05-18 14:06] Swiftwork commented on #72
@daidodo Thank you for the quick response. I fully understand hard to find the time to maintain open-source libraries. So my thinking with the above settings would be to follow the pattern detailed on the [Yarn PnP page about editor sdks](https://yarnpkg.com/getting-started/editor-sdks). When running the command mentioned for VSCode, Yarn will create a wrapper around the tool (eslint, prettier...)

[2022-06-30 19:17] tjx666 opened #76 "give use more meaningful error message when parse package.json error"
Notify user parsing package.json parrse error would be more useful. Maybe we need https://github.com/daidodo/format-imports throw error with error code to identify the exception reason.

When I have merge conflicts in package.json:

@daidodo

![image](https://user-images.githubusercontent.com/41773861/184108091-c9adf5ef-3faf-4749-8e97-c513e53aa3e0.png)

[2022-08-03 22:32] sbutterworth-sands opened #78 "Feature request: Add setting `tsImportSorter.configuration.formatImports` to allow sorting exports only"
**Feature request: Add setting `tsImportSorter.configuration.formatImports` to allow sorting exports only**

I like this plugin for it's ability to sort exports, but, it conflicts a bit with a set-up my team already uses to sort via prettier with plugin `trivago/prettier-plugin-sort-imports`. We use prettier for a lot more than import sorting so not using it is simply not an option for us.

Since

[2022-08-05 00:02] daidodo commented on #78
Thanks for the feedback!

Could you share your config for `trivago/prettier-plugin-sort-imports`?

[2022-08-29 13:23] georgekrax opened #79 ""formatExports": true doesn't sort exports!!"
**Describe the bug**
When I run the extension in any file of my project, the extension does not sort the `export` statements! I have enabled the `"configuration.formatExports": true`, but still nothing changes.

However, it sorts the `import` statements very well!

**To Reproduce**

1. Go to `settings.json`
2. Add the following line: ` "tsImportSorter.configuration.formatExports": true`
3. Go to a

[2022-08-30 17:45] tjx666 commented on #76
Or provide user a setting to disable error message. Just log the error message to output channel.
@daidodo

[2022-08-30 21:19] daidodo commented on #79
@georgekrax Thanks for your feedback!

There was a similar issue before (https://github.com/daidodo/format-imports-vscode/issues/43):

But still, I'm open to suggestions and ideas.

[2022-08-30 21:33] daidodo commented on #76
Thanks for the feedback!

I've suppressed package JSON parsing error in v7.4.20.

[2022-08-30 23:01] georgekrax commented on #79
@daidodo Oh okay, thanks for the update!

Do you plan to support a "sorting exports" feature?

[2022-08-31 07:37] daidodo commented on #79
Depends on how clear the requirements are.

Exports can be at the front, middle or end of the file. There is no standard about how they should be organised, AFAIK.

[2022-08-31 09:40] georgekrax commented on #79
Well, that is a reasonable question from your side.

I would use this feature (sorting exports) only on `index.ts` files, where I export **only** a chunk of various components/variables/types. **Only in that case** I would find it useful, as in the **pictures** above that I have attached. Otherwise, I believe it wouldn't matter to sort them.

**settings.json**
[code]

If I enable the default/autom

[2022-09-01 23:37] #76 closed

[2022-09-09 08:10] anshul-gauba-30067469 opened #80 "Exception: Unexpected token / in JSON at position 90"
## Code snippet triggering the exception

[code]

## All Logs

(Please open the output channel for "JS/TS Import/Export Sorter" and copy/paste ALL logs here)

[code]

[2022-09-09 19:02] daidodo commented on #80
@anshul-gauba-30067469
Thanks for the feedback!

Could you share more details about the issue, e.g. *import-sorter.json*, [debug logs](https://github.com/daidodo/format-imports-vscode/blob/master/CONTRIBUTING.md#debug-mode), etc?

[2022-09-18 04:59] #80 closed

[2022-10-23 09:17] farjana74 opened #81 "Exception: EMFILE: too many open files, open 'c:\project\ffbd-admin\package.json'"
## Code snippet triggering the exception

[code]

## All Logs

(Please open the output channel for "JS/TS Import/Export Sorter" and copy/paste ALL logs here)

[code]

[2022-10-23 09:24] daidodo commented on #81
Thanks for the feedback!

Could you share more details about the issue for me to investigate?

[2022-10-27 17:09] karlhorky opened #82 "Add VS Code extension URL to GitHub repo About section"
**Is your feature request related to a problem? Please describe.**

It would be great to have a link to [the VS Code extension](https://marketplace.visualstudio.com/items?itemName=dozerg.tsimportsorter) in the **About** section of this repo (can be added by clicking on the gear icon):

![Screenshot 2022-10-27 at 19 07 58](https://user-images.githubusercontent.com/1935696/198354855-179c4dc7-7192-44

[2022-10-28 14:50] daidodo commented on #82
Thanks for the feedback!

Done!

[2022-10-28 14:50] #82 closed

[2022-10-28 15:09] karlhorky commented on #82
Great, thanks!

[2022-11-24 05:20] binarykitchen opened #85 "Always crashing"
Type: <b>Bug</b>

Seeing this error

"Error : Extension host terminated unexpectedly in VS Code"

And always have to restart VS Code.

Thanks to bissecting have narrowed down to your extension to be the cause. Hope you can fix it soon, thanks.

Extension version: 7.5.1
VS Code version: Code 1.73.1 (6261075646f055b99068d3688932416f2346dd3b, 2022-11-09T02:08:38.961Z)
OS version: Darwin x64 21.6.0
Mo

[2022-11-26 10:20] daidodo commented on #85
Thanks for the feedback!

I can't reproduce so have no idea what is wrong.
But I published a new version 7.5.2 which might increase stability.

[2022-11-26 23:11] binarykitchen commented on #85
Looks like that solved it somehow :)

[2022-11-26 23:11] #85 closed